<!-- mega menu desktop design snippet -->
<li id="cmm4e-menu-item-3568"
  class="cmm4e-menu-item cmm4e-item-depth-0 cmm4e-mega menu-item-has-children cmm4e-item-has-content">
  <a aria-haspopup="true" href="#" class="cmm4e-nav-link" itemprop="url">
    <span class="cmm4e-item-label" itemprop="name">
      {% for block in section.blocks %}
      {% if block.type == 'design' %}
      {{ block.type }}
      {% endif %}
      {% endfor %}
    </span>
  </a>
  <span role="presentation" class="menu-item-arrow fa fa-angle-down"></span>
  <div class="cmm4e-sub-panel cmm4e-content-container" style="width:100%;">
    <div class="cmm4e-content-wrapper">
      <div data-elementor-type="wp-post" data-elementor-id="3590" class="elementor elementor-3590"
        data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="has_ae_slider elementor-element elementor-element-775acd0 mega-menu-sec elementor-section-full_width elementor-section-stretched elementor-section-height-min-height elementor-section-items-top elementor-section-height-default ae-bg-gallery-type-default elementor-invisible elementor-section elementor-top-section"
              data-id="775acd0" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div
                    class="has_ae_slider elementor-element elementor-element-d6a6868 gc-mega-col-one ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                    data-id="d6a6868" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <section
                          class="has_ae_slider elementor-element elementor-element-8430146 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="8430146" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-736c7f3 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="736c7f3" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-d6fa593 elementor-widget elementor-widget-heading"
                                      data-id="d6fa593" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_01 }}>{{ block.settings.design_link_text_01 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-d941889 elementor-widget elementor-widget-text-editor"
                                      data-id="d941889" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_01 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-6da4a81 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="6da4a81" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-481c2c7 elementor-widget elementor-widget-heading"
                                      data-id="481c2c7" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_02 }}>{{ block.settings.design_link_text_02 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-ddd4ca6 elementor-widget elementor-widget-text-editor"
                                      data-id="ddd4ca6" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_02 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-213279f elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="213279f" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-4c0ce41 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="4c0ce41" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-27c8e9e elementor-widget elementor-widget-heading"
                                      data-id="27c8e9e" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_03 }}>{{ block.settings.design_link_text_03 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-a4bd8bf elementor-widget elementor-widget-text-editor"
                                      data-id="a4bd8bf" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_03 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-768256e ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="768256e" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-cc7a380 elementor-widget elementor-widget-heading"
                                      data-id="cc7a380" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_04 }}>{{ block.settings.design_link_text_04 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-c5daa75 elementor-widget elementor-widget-text-editor"
                                      data-id="c5daa75" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_04 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-f710993 gc-login-sec elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="f710993" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-a058c08 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="a058c08" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-50ac7ad elementor-widget elementor-widget-heading"
                                      data-id="50ac7ad" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_05 }}>{{ block.settings.design_link_text_05 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-ec1f816 elementor-widget elementor-widget-text-editor"
                                      data-id="ec1f816" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_05 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-f333811 elementor-widget elementor-widget-heading"
                                      data-id="f333811" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'design' %}
                                          <a
                                            href={{ block.settings.design_link_06 }}>{{ block.settings.design_link_text_06 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-5814076 elementor-widget elementor-widget-text-editor"
                                      data-id="5814076" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'design' %}
                                            {{ block.settings.design_link_description_06 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <!-- designer and dealer login button -->
                              <div
                                class="has_ae_slider elementor-element elementor-element-a058c08 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="a058c08" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div class="member-login">
                                      {% if shop.customer_accounts_enabled %}
                                      {% if customer %}
                                      <a href="{{ routes.account_url }}" class="member-login-btn">
                                        <span>My account</span>
                                      </a>
                                      {% else %}
                                      <a href="{{ routes.account_login_url }}" class="member-login-btn">
                                        <span>login</span>
                                      </a>
                                      {% endif %}
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <style>
                                .member-login {
                                  position: absolute;
                                  bottom: 0;
                                  right: -20px;
                                  width: 100%;
                                  max-width: 230px;
                                }

                                .member-login-btn {
                                  display: block;
                                  font-family: "Raleway", Sans-serif;
                                  text-transform: uppercase;
                                  color: #ffffff;
                                  background-color: #000000;
                                  border-style: solid;
                                  border-width: 1px 1px 1px 1px;
                                  border-color: #000000;
                                  border-radius: 0px 0px 0px 0px;
                                  width: 100% !important;
                                  max-width: 230px !important;
                                  font-size: 16px !important;
                                  font-weight: 600;
                                  padding: 12px 10px !important;
                                  text-align: center;
                                  margin-bottom: 50px;
                                }

                                .member-login-btn:hover {
                                  color: #000000;
                                  background-color: #ffffff;
                                }
                              </style>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-294d841 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                    data-id="294d841" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    {% for block in section.blocks %}
                    {% if block.type == 'design' %}
                    <div class="elementor-column-wrap  elementor-element-populated"
                      style="background-image:url('{{ block.settings.design_background | img_url : '1000x' }}')" ​​​​​​>
                      {% endif %}
                      {% endfor %}
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-background-overlay">
                        </div>
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-edfe631 elementor-widget elementor-widget-text-editor"
                            data-id="edfe631" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-text-editor elementor-clearfix">
                                <p>
                                  {% for block in section.blocks %}
                                  {% if block.type == 'design' %}
                                  {{ block.settings.design_description }}
                                  {% endif %}
                                  {% endfor %}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>