<!-- mega menu desktop products snippet -->
<li id="cmm4e-menu-item-3214"
  class="cmm4e-menu-item cmm4e-item-depth-0 cmm4e-mega menu-item-has-children cmm4e-item-has-content">
  <a aria-haspopup="true" href="#" class="cmm4e-nav-link" itemprop="url">
    <span class="cmm4e-item-label" itemprop="name">
      {% for block in section.blocks %}
      {% if block.type == 'products' %}
      {{ block.type }}
      {% endif %}
      {% endfor %}
    </span>
  </a>
  <span role="presentation" class="menu-item-arrow fa fa-angle-down"></span>
  <div class="cmm4e-sub-panel cmm4e-content-container" style="width:100%;">
    <div class="cmm4e-content-wrapper">
      <div data-elementor-type="wp-post" data-elementor-id="3228" class="elementor elementor-3228"
        data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="has_ae_slider elementor-element elementor-element-70ede190 elementor-section-full_width elementor-section-items-stretch elementor-section-stretched elementor-section-height-min-height elementor-section-height-default ae-bg-gallery-type-default elementor-invisible elementor-section elementor-top-section"
              data-id="70ede190" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="has_ae_slider elementor-element elementor-element-556aafe3 ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="556aafe3" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-e46a065 elementor-widget elementor-widget-spacer"
                          data-id="e46a065" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-840296d ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="840296d" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-54efe0e elementor-view-default elementor-widget elementor-widget-icon"
                          data-id="54efe0e" data-element_type="widget" data-widget_type="icon.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-icon-wrapper">
                              {% for block in section.blocks %}
                              {% if block.type == 'products' %}
                              <a class="elementor-icon" href="{{ block.settings.engineered_link }}">
                              {% endif %}
                              {% endfor %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 200 37.23">
                                  <path
                                    d="M36.56,62.94a2.81,2.81,0,0,0,1.38-.2,1,1,0,0,1-1.13,1.12H33.49v4.73s-1.35,0-1.35-.67V59.18h6.6s0,.91-.8.91H33.49v2.85Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M57.47,68.45s-1.35,0-1.35-.66V59.05s1.35,0,1.35.66v7.83h4a2.81,2.81,0,0,0,1.38-.2c0,.4-.14,1.11-.8,1.11Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M89,65.67c0,1.84-1.42,2.94-4.44,2.94s-4.43-1.1-4.43-2.94V62c0-1.84,1.4-2.94,4.43-2.94S89,60.12,89,62Zm-1.35-3.54c0-1.38-.5-2.2-3.1-2.2s-3.07.82-3.07,2.2V65.5c0,1.38.5,2.2,3.07,2.2s3.1-.82,3.1-2.2Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M116.15,65.67c0,1.84-1.41,2.94-4.43,2.94s-4.44-1.1-4.44-2.94V62c0-1.84,1.4-2.94,4.44-2.94s4.43,1.1,4.43,2.94Zm-1.35-3.54c0-1.38-.5-2.2-3.1-2.2s-3.07.82-3.07,2.2V65.5c0,1.38.5,2.2,3.07,2.2s3.1-.82,3.1-2.2Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M138.46,64.13c2.21.72,3.13,3.41,3.91,4.39a2.46,2.46,0,0,1-.46,0,1.8,1.8,0,0,1-1.56-.76c-1.27-1.94-1.86-3.36-4.38-3.63v4.42s-1.35,0-1.35-.67V59.18h3.31c2.2,0,3.79.57,3.79,2.24v.39C141.72,63.31,140.35,64.13,138.46,64.13Zm-2.49-4V63.3h2.08c1.72,0,2.32-.58,2.32-1.68s-.79-1.53-2.44-1.53Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M163.67,67.63c1.81,0,2.78-.7,2.78-1.76,0-2.78-7.13-.62-7.13-4.19,0-2,1.91-2.66,4.27-2.66,1.91,0,3.89.26,3.89,1.52a2.27,2.27,0,0,1-.37,1.08c0-1.4-1.71-1.62-3.52-1.62s-2.86.4-2.86,1.56c0,2.51,7.13.28,7.13,4.24,0,1.87-1.83,2.81-4.19,2.81-1.91,0-4.11-.26-4.11-1.53a2,2,0,0,1,.37-1.06C159.93,67.41,161.85,67.63,163.67,67.63Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M17.62,32.36a13.67,13.67,0,0,1,3.19.37,8.11,8.11,0,0,1,2.64,1.15,5.63,5.63,0,0,1,1.8,2,5.7,5.7,0,0,1,.66,2.81,4,4,0,0,1-.74,2.43,5.72,5.72,0,0,1-2,1.71,11.26,11.26,0,0,1-3.05,1,20.49,20.49,0,0,1-3.79.33H11.24v2.77c0,2.21.12,3.43.37,3.66.42.54,1.39.8,2.92.8h.57c.19,0,.31,0,.34.14v.75c0,.06,0,.09-.11.11H.06s-.06,0-.06-.08v-.8c0-.08.11-.12.29-.12H1.57a6.5,6.5,0,0,0,1.28-.1,1.39,1.39,0,0,0,.8-.43,1.91,1.91,0,0,0,.41-.93,8.68,8.68,0,0,0,.12-1.63V36.39a13.87,13.87,0,0,0-.08-1.65,1.35,1.35,0,0,0-.42-.91,2.16,2.16,0,0,0-1.12-.38,19.35,19.35,0,0,0-2.13-.09H.09s-.07,0-.09-.11v-.8q0-.09.06-.09ZM11.24,43.12H14.9A3.87,3.87,0,0,0,18,42a5.49,5.49,0,0,0,1-3.67v-.43q0-4.54-3.74-4.55h-.86c-1.41,0-2.3.3-2.66.89-.29.32-.43,1.45-.43,3.37Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M44.39,32.36a13.93,13.93,0,0,1,3.33.39,10.67,10.67,0,0,1,2.79,1.07,6.13,6.13,0,0,1,1.9,1.63,3.37,3.37,0,0,1,.7,2.06v.2a4.37,4.37,0,0,1-1.44,3.23,8.32,8.32,0,0,1-3.94,2V43q2.93,5.7,3.52,6.66a3.22,3.22,0,0,0,3,1.69h.31c.15,0,.23.08.23.12v.8s0,.08-.06.08H45.45s-.25-.43-.69-1.23-1.09-2-1.95-3.63q-2.22-4.14-2.34-4.43H39.18v4.37c0,1.85.13,2.89.37,3.12.31.54,1.27.8,2.89.8q.15.09.15.12v.8s0,.08-.06.08H28s-.06,0-.06-.08v-.8c0-.08.12-.12.29-.12h1.34a5.88,5.88,0,0,0,1.23-.11,1.51,1.51,0,0,0,.79-.45,1.75,1.75,0,0,0,.41-.93,8.47,8.47,0,0,0,.12-1.6V36.48c0-1.58-.26-2.51-.77-2.77-.16-.23-1.2-.35-3.15-.35H28s-.07,0-.09-.11v-.8q0-.09.06-.09Zm-5.21,9.7h.29a8,8,0,0,0,2.27-.32,5.75,5.75,0,0,0,1.86-.9,4.54,4.54,0,0,0,1.25-1.38,3.45,3.45,0,0,0,.45-1.74A3.24,3.24,0,0,0,44.83,36a4.47,4.47,0,0,0-1.3-1.38,6.57,6.57,0,0,0-1.94-.92,8.51,8.51,0,0,0-2.41-.33Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M71.67,32.28h.8a3.91,3.91,0,0,1,.62,1c.33.62.84,1.56,1.53,2.81,2.28,4.21,4.07,7.43,5.34,9.67s2,3.53,2.24,3.87a3.5,3.5,0,0,0,3.11,1.74h.55c.19,0,.29,0,.31.12v.83s0,.05-.09.05H70.84c-.08,0-.11-.09-.11-.23v-.5c0-.18.11-.27.34-.27h1.54A1.26,1.26,0,0,0,74,50.56l.06-.34a7.82,7.82,0,0,0-1.18-2.62,1.87,1.87,0,0,1-.28-.6H64.84a2.44,2.44,0,0,0-.12.91v0a3.33,3.33,0,0,0,.93,2.47,3.54,3.54,0,0,0,2.65.94h.17c.19,0,.3,0,.34.15v.74c0,.06,0,.09-.11.11H58.14s-.08,0-.08-.05v-.83a3.09,3.09,0,0,0,.48-.1,8.2,8.2,0,0,0,.86-.3,8.47,8.47,0,0,0,1-.5,4.11,4.11,0,0,0,.92-.73,26,26,0,0,0,2.8-4.17s2.49-4.47,7.46-13.37Zm-3.15,7.6c-.17.35-.53,1-1.08,2s-1.3,2.37-2.23,4.1H71.9Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M95.18,52.35,93.38,49q-2.89-5.31-5.49-10l-2.12-3.8a4.25,4.25,0,0,0-3.72-1.91h-.34a.12.12,0,0,1-.12-.09v-.83q0-.09.06-.09H97.12q.12,0,.12.24V33c0,.16-.06.25-.17.27H95.21c-.86,0-1.29.29-1.29.88v.31q0,1.77,4.83,9.59a5.62,5.62,0,0,1,.52.94h.08q4-6.8,4-8.33a3.21,3.21,0,0,0-.26-1.24,3.77,3.77,0,0,0-.71-1.1,3.69,3.69,0,0,0-1.07-.77,3.12,3.12,0,0,0-1.31-.28h-.63a.9.9,0,0,1-.17-.15v-.74q0-.09.12-.12h10.38c.06,0,.08.07.08.09v.8c0,.08-.4.18-1.2.32Q105.28,35,97.15,51l-.8,1.37Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M119.6,32.28h.8a3.61,3.61,0,0,1,.62,1c.33.62.84,1.56,1.53,2.81q3.44,6.32,5.35,9.67c1.27,2.24,2,3.53,2.23,3.87a3.5,3.5,0,0,0,3.12,1.74h.54c.19,0,.29,0,.31.12v.83s0,.05-.08.05H118.77c-.07,0-.11-.09-.11-.23v-.5c0-.18.11-.27.34-.27h1.55a1.26,1.26,0,0,0,1.34-.79l.06-.34a7.71,7.71,0,0,0-1.17-2.62,1.66,1.66,0,0,1-.29-.6h-7.72a2.44,2.44,0,0,0-.12.91v0a3.33,3.33,0,0,0,.93,2.47,3.54,3.54,0,0,0,2.65.94h.17c.19,0,.3,0,.34.15v.74c0,.06,0,.09-.11.11H106.08c-.06,0-.09,0-.09-.05v-.83a3.13,3.13,0,0,0,.49-.1,9,9,0,0,0,.85-.3,8.47,8.47,0,0,0,1-.5,4.11,4.11,0,0,0,.92-.73,26,26,0,0,0,2.8-4.17s2.49-4.47,7.47-13.37Zm-3.14,7.6c-.17.35-.54,1-1.09,2s-1.3,2.37-2.23,4.1h6.69Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M153.4,32.3q7,0,9.69,4.84a9.73,9.73,0,0,1,1.49,5v.54a9.28,9.28,0,0,1-.51,3.07,9.61,9.61,0,0,1-1.45,2.65,9.21,9.21,0,0,1-2.23,2.08,9.91,9.91,0,0,1-2.84,1.3,20.78,20.78,0,0,1-5.49.54H137.33s-.06,0-.06-.08v-.8c0-.08.12-.12.31-.12H139a6.1,6.1,0,0,0,1.23-.1,1.23,1.23,0,0,0,.75-.43,2,2,0,0,0,.39-1,10,10,0,0,0,.11-1.73V36.48c0-1.47-.2-2.36-.6-2.69q-.26-.48-2.94-.48h-.52a.11.11,0,0,1-.11-.09v-.83l.06-.09Zm-4.89,1v18h2.34a4.65,4.65,0,0,0,2.48-.74,7.37,7.37,0,0,0,2.07-2,10.73,10.73,0,0,0,1.42-2.9,11.62,11.62,0,0,0,.53-3.52,11.84,11.84,0,0,0-.5-3.5,9.32,9.32,0,0,0-1.41-2.82A6.78,6.78,0,0,0,153.29,34a5.69,5.69,0,0,0-2.78-.68Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M179.8,32.28h.81a4.06,4.06,0,0,1,.61,1c.33.62.84,1.56,1.53,2.81q3.44,6.32,5.35,9.67t2.23,3.87a3.5,3.5,0,0,0,3.12,1.74H194c.19,0,.3,0,.31.12v.83s0,.05-.08.05H179c-.08,0-.12-.09-.12-.23v-.5c0-.18.12-.27.34-.27h1.55a1.26,1.26,0,0,0,1.34-.79l.06-.34A7.71,7.71,0,0,0,181,47.6a1.84,1.84,0,0,1-.29-.6H173a2.44,2.44,0,0,0-.12.91v0a3.33,3.33,0,0,0,.93,2.47,3.56,3.56,0,0,0,2.65.94h.17c.19,0,.31,0,.34.15v.74c0,.06,0,.09-.11.11H166.28c-.06,0-.09,0-.09-.05v-.83a3.13,3.13,0,0,0,.49-.1,9.08,9.08,0,0,0,.86-.3,10.35,10.35,0,0,0,1-.5,4.29,4.29,0,0,0,.91-.73,26,26,0,0,0,2.8-4.17s2.49-4.47,7.47-13.37Zm-3.14,7.6c-.17.35-.54,1-1.09,2s-1.29,2.37-2.23,4.1H180Z"
                                    transform="translate(0 -31.39)" />
                                  <path
                                    d="M200,34.83a3.46,3.46,0,0,1-3.53,3.49,3.47,3.47,0,1,1,0-6.93A3.45,3.45,0,0,1,200,34.83Zm-6.2,0a2.67,2.67,0,0,0,2.69,2.75,2.75,2.75,0,0,0,0-5.5A2.68,2.68,0,0,0,193.8,34.83Zm2.13,1.81h-.8V33.19a7.21,7.21,0,0,1,1.32-.1,2.13,2.13,0,0,1,1.2.25,1,1,0,0,1,.33.76.87.87,0,0,1-.71.79v0a1,1,0,0,1,.63.84,2.7,2.7,0,0,0,.25.86h-.86a3,3,0,0,1-.27-.84c-.07-.38-.28-.55-.72-.55h-.37Zm0-2h.37c.45,0,.8-.14.8-.5s-.23-.52-.73-.52a2,2,0,0,0-.44,0Z"
                                    transform="translate(0 -31.39)" />
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-43d7382 elementor-widget elementor-widget-text-editor"
                          data-id="43d7382" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              {% for block in section.blocks %}
                              {% if block.type == 'products' %}
                              <p>{{ block.settings.pravada_description }}</p>
                              {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <section
                          class="has_ae_slider elementor-element elementor-element-c98ff08 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="c98ff08" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-8f2517b ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="8f2517b" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-a10ab8d elementor-widget elementor-widget-heading"
                                      data-id="a10ab8d" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Collection
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-795e594 elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                      data-id="795e594" data-element_type="widget"
                                      data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                      data-widget_type="nav-menu.default">
                                      <div class="elementor-widget-container">
                                        <nav role="navigation"
                                          class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-none">
                                          <ul id="menu-1-795e594" class="elementor-nav-menu sm-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.pravada_collection_links].links %}
                                            {%- comment %}<locksmith:6138>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.pravada_collection_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:6138>{% endcomment -%}
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                              <a href={{ link.url }}
                                                class="elementor-item">{{ link.title | escape }}</a>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </nav>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-3d00834 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="3d00834" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-99ffe83 elementor-widget elementor-widget-heading"
                                      data-id="99ffe83" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Color Tone
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-fe1751f ae-icl-align-left ae-term-list--layout-traditional elementor-widget elementor-widget-ae-taxonomy-blocks"
                                      data-id="fe1751f" data-element_type="widget"
                                      data-widget_type="ae-taxonomy-blocks.list">
                                      <div class="elementor-widget-container">
                                        <div data-pid="10" data-wid="fe1751f" data-source="pa_any-color"
                                          class="ae-taxonomy-widget-wrapper">
                                          <ul class="ae-term-skin-list ae-icon-list-items ae-list-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.pravada_products_color_links].links %}
                                            {%- comment %}<locksmith:eeda>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.pravada_products_color_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:eeda>{% endcomment -%}
                                            <li class="ae-icon-list-item ae-term-list-item">
                                              <div class="ae-term-list-item-inner ae-icon-list-text">
                                                <div class="ae-term-title-wrapper">
                                                  <a href={{ link.url }}><span itemprop="name"
                                                      class="ae-element-term-title"><span
                                                        class="term-list-text">{{ link.title | escape }}</span></span></a>
                                                </div>
                                              </div>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      </div>
                                    </div>

                                    <div
                                      class="elementor-element elementor-element-467c0c9 elementor-widget elementor-widget-spacer"
                                      data-id="467c0c9" data-element_type="widget" data-widget_type="spacer.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                          <div class="elementor-spacer-inner">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-99ffe83 elementor-widget elementor-widget-heading"
                                      data-id="99ffe83" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Type
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-fe1751f ae-icl-align-left ae-term-list--layout-traditional elementor-widget elementor-widget-ae-taxonomy-blocks"
                                      data-id="fe1751f" data-element_type="widget"
                                      data-widget_type="ae-taxonomy-blocks.list">
                                      <div class="elementor-widget-container">
                                        <div data-pid="10" data-wid="fe1751f" data-source="pa_any-color"
                                          class="ae-taxonomy-widget-wrapper">
                                          <ul class="ae-term-skin-list ae-icon-list-items ae-list-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.pravada_type_links].links %}
                                            {%- comment %}<locksmith:5384>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.pravada_type_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:5384>{% endcomment -%}
                                            <li class="ae-icon-list-item ae-term-list-item">
                                              <div class="ae-term-list-item-inner ae-icon-list-text">
                                                <div class="ae-term-title-wrapper">
                                                  <a href={{ link.url }}><span itemprop="name"
                                                      class="ae-element-term-title"><span
                                                        class="term-list-text">{{ link.title | escape }}</span></span></a>
                                                </div>
                                              </div>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-8a42149 ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="8a42149" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-45cd625 ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="45cd625" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    {% for block in section.blocks %}
                    {% if block.type == 'products' %}
                    <div class="elementor-column-wrap  elementor-element-populated"
                      style="background-image:url('{{ block.settings.products_background | img_url : '1000x' }}')" ​​​​​​>
                    {% endif %}
                    {% endfor %}
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-2733b2c elementor-widget elementor-widget-text-editor"
                          data-id="2733b2c" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              <p>
                                <img class="alignnone  wp-image-16764"
                                  src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/logo-Pravada-Floors-logomark-footer-300X238.svg?v=1602455283"
                                  alt="" width="99" height="79" /><br /><br />
                                {% for block in section.blocks %}
                                {% if block.type == 'products' %}
                                {{ block.settings.products_center_text }}
                                {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                          </div>
                        </div>
                        <section
                          class="has_ae_slider elementor-element elementor-element-1fb782b elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="1fb782b" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-7c432b5 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="7c432b5" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-4eede7e elementor-widget elementor-widget-heading"
                                      data-id="4eede7e" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'products' %}
                                          <a href={{ block.settings.products_center_button }}>{{ block.settings.products_center_button_text | upcase }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-ceaf0a4 ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="ceaf0a4" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-ae0f94b ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="ae0f94b" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-65eb3f6 elementor-view-default elementor-widget elementor-widget-icon"
                          data-id="65eb3f6" data-element_type="widget" data-widget_type="icon.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-icon-wrapper">
                              {% for block in section.blocks %}
                              {% if block.type == 'products' %}
                              <a class="elementor-icon" href={{ block.settings.evolutionz_link }}>
                              {% endif %}
                              {% endfor %}
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 200 51.73">
                                  <path
                                    d="M6.05,24.47a4.31,4.31,0,0,1,1.1.13,2.67,2.67,0,0,1,.91.39,1.84,1.84,0,0,1,.84,1.64,1.41,1.41,0,0,1-.25.84,1.93,1.93,0,0,1-.7.58,3.6,3.6,0,0,1-1,.35,7.5,7.5,0,0,1-1.3.11H3.86v.95A3.06,3.06,0,0,0,4,30.72c.14.18.48.27,1,.27h.2a.12.12,0,0,1,.12.05v.26s0,0,0,0H0s0,0,0,0V31s0,0,.1,0H.54A2.68,2.68,0,0,0,1,31a.46.46,0,0,0,.27-.15.64.64,0,0,0,.15-.32,3.71,3.71,0,0,0,0-.56V25.85a4.24,4.24,0,0,0,0-.57A.51.51,0,0,0,1.26,25a.8.8,0,0,0-.38-.13,6.78,6.78,0,0,0-.73,0H0s0,0,0,0V24.5s0,0,0,0ZM3.86,28.16H5.12a1.33,1.33,0,0,0,1-.37,1.89,1.89,0,0,0,.34-1.27v-.14c0-1.05-.43-1.57-1.29-1.57h-.3c-.48,0-.79.1-.91.31a2.41,2.41,0,0,0-.15,1.16Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M15.25,24.47a4.77,4.77,0,0,1,1.15.13,3.76,3.76,0,0,1,1,.37,2.11,2.11,0,0,1,.65.56,1.17,1.17,0,0,1,.24.71v.07a1.5,1.5,0,0,1-.49,1.11,2.92,2.92,0,0,1-1.36.69h0c.67,1.31,1.08,2.07,1.21,2.3a1.12,1.12,0,0,0,1,.57h.1c.06,0,.08,0,.08,0v.28s0,0,0,0H15.62l-.24-.42-.67-1.25c-.51-1-.78-1.46-.8-1.53h-.44v1.51a2.39,2.39,0,0,0,.12,1.07c.11.18.44.27,1,.27l.05,0v.28s0,0,0,0h-5s0,0,0,0V31s0,0,.1,0h.46a2.63,2.63,0,0,0,.43,0,.53.53,0,0,0,.27-.16.63.63,0,0,0,.14-.32,3.67,3.67,0,0,0,0-.55V25.88c0-.54-.09-.86-.27-.95s-.41-.12-1.08-.12H9.63s0,0,0,0V24.5s0,0,0,0ZM13.47,27.8h.09a2.9,2.9,0,0,0,.79-.11,1.86,1.86,0,0,0,.63-.31,1.47,1.47,0,0,0,.43-.47,1.12,1.12,0,0,0,.16-.6,1.15,1.15,0,0,0-.16-.6,1.67,1.67,0,0,0-.45-.47,2.18,2.18,0,0,0-.67-.31,2.71,2.71,0,0,0-.82-.12Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M24.63,24.44h.28a2.2,2.2,0,0,1,.21.34l.52,1c.79,1.45,1.4,2.56,1.84,3.33l.77,1.33a1.19,1.19,0,0,0,1.07.59h.19c.06,0,.1,0,.1.05v.28s0,0,0,0H24.35s0,0,0-.08v-.17a.1.1,0,0,1,.11-.1H25a.44.44,0,0,0,.46-.27l0-.12a2.71,2.71,0,0,0-.41-.89.72.72,0,0,1-.09-.21H22.28a1,1,0,0,0,0,.31h0a1.16,1.16,0,0,0,.32.85,1.2,1.2,0,0,0,.91.32h.06c.07,0,.1,0,.12.06v.25s0,0,0,0H20s0,0,0,0V31l.17,0,.29-.1.35-.17a1.3,1.3,0,0,0,.31-.26A8.77,8.77,0,0,0,22,29s.85-1.54,2.56-4.59Zm-1.08,2.61-.37.7c-.19.34-.45.81-.77,1.41h2.3Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M32.71,31.34l-.62-1.14c-.66-1.22-1.29-2.36-1.89-3.44l-.72-1.31a1.47,1.47,0,0,0-1.28-.66h-.12s0,0,0,0v-.28s0,0,0,0h5.32a.08.08,0,0,1,0,.08v.17q0,.09-.06.09h-.64c-.3,0-.44.1-.44.31v.1a10.82,10.82,0,0,0,1.66,3.3l.18.32h0A9.52,9.52,0,0,0,35.51,26a1.11,1.11,0,0,0-.09-.43,1.31,1.31,0,0,0-.24-.37,1.22,1.22,0,0,0-.37-.27,1.14,1.14,0,0,0-.45-.1h-.22a.17.17,0,0,1,0-.05v-.25s0,0,0,0h3.56s0,0,0,0v.27s-.14.07-.41.11q-1.12.51-3.92,6l-.28.47Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M41.1,24.44h.28a1.56,1.56,0,0,1,.21.34c.11.21.29.53.53,1q1.17,2.18,1.83,3.33c.44.77.7,1.21.77,1.33a1.2,1.2,0,0,0,1.07.59H46c.06,0,.1,0,.11.05v.28s0,0,0,0H40.82s0,0,0-.08v-.17c0-.06,0-.1.12-.1h.53a.44.44,0,0,0,.46-.27l0-.12a2.83,2.83,0,0,0-.4-.89.51.51,0,0,1-.1-.21H38.75a1,1,0,0,0,0,.31h0a1.16,1.16,0,0,0,.32.85,1.22,1.22,0,0,0,.91.32H40q.11,0,.12.06v.25s0,0,0,0H36.45s0,0,0,0V31l.17,0a2.63,2.63,0,0,0,.3-.1l.34-.17a1.59,1.59,0,0,0,.32-.26,9.4,9.4,0,0,0,1-1.43s.85-1.54,2.56-4.59ZM40,27.05l-.37.7c-.19.34-.45.81-.77,1.41h2.3Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M52.72,24.45a3.46,3.46,0,0,1,3.33,1.66,3.38,3.38,0,0,1,.51,1.73V28a3.13,3.13,0,0,1-.18,1,3.15,3.15,0,0,1-1.26,1.62,3.37,3.37,0,0,1-1,.45,6.84,6.84,0,0,1-1.88.19H47.19s0,0,0,0V31s0,0,.11,0h.47a2.54,2.54,0,0,0,.43,0,.4.4,0,0,0,.26-.15.73.73,0,0,0,.13-.33,3.25,3.25,0,0,0,0-.6v-4c0-.5-.07-.81-.21-.92s-.39-.17-1-.17h-.18s0,0,0,0v-.28l0,0ZM51,24.79V31h.8a1.56,1.56,0,0,0,.85-.25,2.58,2.58,0,0,0,.72-.68,3.71,3.71,0,0,0,.48-1,4,4,0,0,0,.18-1.21,3.87,3.87,0,0,0-.17-1.2,2.94,2.94,0,0,0-.48-1,2.29,2.29,0,0,0-.74-.65,1.94,1.94,0,0,0-1-.24Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M61.79,24.44h.28a2.2,2.2,0,0,1,.21.34c.11.21.29.53.53,1q1.17,2.18,1.83,3.33c.44.77.7,1.21.77,1.33a1.2,1.2,0,0,0,1.07.59h.19c.06,0,.1,0,.11.05v.28s0,0,0,0H61.51s0,0,0-.08v-.17c0-.06,0-.1.12-.1h.53a.44.44,0,0,0,.46-.27l0-.12a2.83,2.83,0,0,0-.4-.89.51.51,0,0,1-.1-.21H59.44a1,1,0,0,0,0,.31h0a1.16,1.16,0,0,0,.32.85,1.22,1.22,0,0,0,.91.32h.06q.11,0,.12.06v.25s0,0,0,0H57.14s0,0,0,0V31l.17,0c.09,0,.18-.06.3-.1l.34-.17a1.3,1.3,0,0,0,.31-.26,8.77,8.77,0,0,0,1-1.43s.85-1.54,2.56-4.59Zm-1.08,2.61-.37.7c-.19.34-.45.81-.77,1.41h2.3Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M68.73,25.32a1.19,1.19,0,0,1-1.21,1.2,1.2,1.2,0,1,1,0-2.39A1.18,1.18,0,0,1,68.73,25.32Zm-2.13,0a.92.92,0,0,0,.93.94.91.91,0,0,0,.9-.94.92.92,0,1,0-1.83,0Zm.73.62h-.27V24.75a2.64,2.64,0,0,1,.45,0,.72.72,0,0,1,.41.08.34.34,0,0,1,.12.26.3.3,0,0,1-.25.28h0a.34.34,0,0,1,.22.29,1.07,1.07,0,0,0,.09.3h-.3a1.11,1.11,0,0,1-.09-.29c0-.13-.1-.19-.25-.19h-.13Zm0-.67h.13c.15,0,.27-.05.27-.18s-.08-.18-.25-.18l-.15,0Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M32,39.47l.11-.25a.28.28,0,0,1,.25-.11H34a.4.4,0,0,1,.29.11c.1.05.12.13.08.25l-8,21.08c-.07.26-.17.26-.29,0L18,39.47c0-.12,0-.2.08-.25a.38.38,0,0,1,.28-.11h1.62c.12,0,.2,0,.22.11a.63.63,0,0,1,.14.25L26.2,54.6Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M37.55,49.92a10.54,10.54,0,0,1,.85-4.22,10.76,10.76,0,0,1,2.32-3.44A11.1,11.1,0,0,1,44.16,40a10.93,10.93,0,0,1,8.45,0,10.76,10.76,0,0,1,3.44,2.3,11.07,11.07,0,0,1,2.31,3.44,11,11,0,0,1,0,8.45,11.19,11.19,0,0,1-2.31,3.44,10.91,10.91,0,0,1-11.89,2.33,11,11,0,0,1-3.44-2.33,10.87,10.87,0,0,1-2.32-3.44A10.48,10.48,0,0,1,37.55,49.92Zm2.16,0a8.42,8.42,0,0,0,.69,3.39A8.67,8.67,0,0,0,45,57.88a8.38,8.38,0,0,0,3.39.68,8.21,8.21,0,0,0,3.36-.68A8.69,8.69,0,0,0,54.5,56a8.79,8.79,0,0,0,1.86-2.75A8.59,8.59,0,0,0,57,49.88a8.46,8.46,0,0,0-.68-3.37,8.84,8.84,0,0,0-4.6-4.59,8.21,8.21,0,0,0-3.36-.68,8.38,8.38,0,0,0-3.39.68,8.83,8.83,0,0,0-2.76,1.86,8.73,8.73,0,0,0-1.85,2.73A8.29,8.29,0,0,0,39.71,49.88Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M65.33,60.73a.32.32,0,0,1-.36-.36V39.47a.32.32,0,0,1,.36-.36h1.44a.32.32,0,0,1,.36.36V58.2a.32.32,0,0,0,.36.36H79a.32.32,0,0,1,.36.36v1.45a.32.32,0,0,1-.36.36Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M87.16,39.47V53.52a4.77,4.77,0,0,0,.4,2,5,5,0,0,0,1.08,1.61,5.28,5.28,0,0,0,1.58,1.08,5.14,5.14,0,0,0,2,.39,5,5,0,0,0,2-.39,5.37,5.37,0,0,0,1.6-1.08,5,5,0,0,0,1.48-3.57V39.47a.32.32,0,0,1,.36-.36h1.44a.32.32,0,0,1,.36.36V53.52a7.22,7.22,0,0,1-.56,2.83,7.08,7.08,0,0,1-1.53,2.29A7.62,7.62,0,0,1,95,60.19a7.22,7.22,0,0,1-2.81.54,7.13,7.13,0,0,1-2.82-.56,7.24,7.24,0,0,1-2.29-1.53,7.44,7.44,0,0,1-1.55-2.27A7.53,7.53,0,0,1,85,53.52V39.47a.32.32,0,0,1,.36-.36H86.8A.32.32,0,0,1,87.16,39.47Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M117.46,39.11a.32.32,0,0,1,.36.36v1.44a.32.32,0,0,1-.36.36h-5.41a.35.35,0,0,0-.36.29V60.37a.32.32,0,0,1-.36.36h-1.44a.32.32,0,0,1-.36-.36V41.56a.35.35,0,0,0-.36-.29h-5.4a.32.32,0,0,1-.36-.36V39.47a.32.32,0,0,1,.36-.36Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M124.16,60.37a.32.32,0,0,1-.36.36h-1.44a.32.32,0,0,1-.36-.36V39.47a.32.32,0,0,1,.36-.36h1.44a.32.32,0,0,1,.36.36Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M129.92,49.92a10.78,10.78,0,0,1,3.17-7.66,11.1,11.1,0,0,1,3.44-2.3A10.93,10.93,0,0,1,145,40a10.76,10.76,0,0,1,3.44,2.3,10.9,10.9,0,0,1,2.31,3.44,10.93,10.93,0,0,1,0,8.45,11,11,0,0,1-2.31,3.44,10.91,10.91,0,0,1-11.89,2.33,11,11,0,0,1-3.44-2.33,10.87,10.87,0,0,1-2.32-3.44A10.65,10.65,0,0,1,129.92,49.92Zm2.16,0a8.42,8.42,0,0,0,.69,3.39A8.76,8.76,0,0,0,134.62,56a8.66,8.66,0,0,0,2.76,1.86,8.42,8.42,0,0,0,3.39.68,8.29,8.29,0,0,0,3.37-.68,8.81,8.81,0,0,0,4.59-4.61,8.42,8.42,0,0,0,.68-3.39,8.29,8.29,0,0,0-.68-3.37,8.87,8.87,0,0,0-4.59-4.59,8.29,8.29,0,0,0-3.37-.68,8.42,8.42,0,0,0-3.39.68,8.72,8.72,0,0,0-4.61,4.59A8.29,8.29,0,0,0,132.08,49.88Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M169.59,46.32a4.82,4.82,0,0,0-.4-2,5.07,5.07,0,0,0-2.68-2.68,5,5,0,0,0-3.93,0,4.91,4.91,0,0,0-1.6,1.08,5,5,0,0,0-1.08,1.6,4.82,4.82,0,0,0-.4,2v14a.32.32,0,0,1-.36.36H157.7a.32.32,0,0,1-.36-.36v-14a7.11,7.11,0,0,1,4.38-6.65,7.41,7.41,0,0,1,5.65,0,7.06,7.06,0,0,1,3.82,3.82,7.18,7.18,0,0,1,.56,2.83v14a.32.32,0,0,1-.36.36H170a.32.32,0,0,1-.36-.36Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M192.61,58.56a.32.32,0,0,1,.36.36v1.45a.32.32,0,0,1-.36.36H178q-.54,0-.36-.36l11.31-18.74c.12-.24,0-.36-.28-.36H177.87a.32.32,0,0,1-.36-.36V39.47a.32.32,0,0,1,.36-.36h14.56q.54,0,.36.36L181.44,58.2q-.18.36.36.36Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M32.21,73.25a1.42,1.42,0,0,1,.29.87,1.51,1.51,0,0,1-.14.62,1.58,1.58,0,0,1-.4.53,1.92,1.92,0,0,1-.64.37,2.44,2.44,0,0,1-.77.13H28.4V69.91h1.68a1.84,1.84,0,0,1,1.3.46,1.48,1.48,0,0,1,.35.48,1.38,1.38,0,0,1,.12.56,1.35,1.35,0,0,1-.17.66,1.31,1.31,0,0,1-.41.46l-.08,0a2.45,2.45,0,0,1,.3.11A1.74,1.74,0,0,1,32.21,73.25Zm-3.39-.79h1.25l.4,0a2,2,0,0,0,.33-.09,1.38,1.38,0,0,0,.44-.35.87.87,0,0,0,.21-.59,1,1,0,0,0-.15-.53,1.17,1.17,0,0,0-.47-.4,1.72,1.72,0,0,0-.74-.15H28.82Zm2.54,2.72a1.4,1.4,0,0,0,.55-.46,1.11,1.11,0,0,0,.18-.6,1,1,0,0,0-.22-.64,1.38,1.38,0,0,0-.52-.41,2.66,2.66,0,0,0-1.09-.19H28.82v2.48h1.73A1.73,1.73,0,0,0,31.36,75.18Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M37.38,75.77V69.91h3.79v.42H37.79v2.3h2.64v.42H37.79v2.29h3.38v.43Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M51.13,69.91v.42H48.81v5.44H48.4V70.33H46.07v-.42Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M60.84,69.91v.42H58.53v5.44h-.42V70.33H55.79v-.42Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M65.66,75.77V69.91h3.79v.42H66.07v2.3h2.64v.42H66.07v2.29h3.38v.43Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M78,75.77l-2.43-3h.72a2.71,2.71,0,0,0,1.08-.17,1.4,1.4,0,0,0,.54-.43,1.06,1.06,0,0,0,0-1.25,1.3,1.3,0,0,0-.54-.46,1.73,1.73,0,0,0-.81-.18H74.91v5.45h-.4V69.91h2a2.45,2.45,0,0,1,.78.13,2,2,0,0,1,.63.38,1.73,1.73,0,0,1,.4.53,1.47,1.47,0,0,1,.14.61,1.43,1.43,0,0,1-.3.89,1.89,1.89,0,0,1-1.25.72,5,5,0,0,1-.56,0l2.12,2.57Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M94.81,69.91v.42H92.49v5.44h-.41V70.33H89.75v-.42Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M103.51,73.05h-3.46v2.72h-.42V69.91h.42v2.72h3.46V69.91h.4v5.86h-.4Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M109.85,74.28l-.7,1.49h-.45l2.76-5.93,2.6,5.93h-.44L113,74.28Zm1.59-3.44-1.4,3h2.74Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M119.26,71v4.76h-.41V69.84l4.06,4.85V69.91h.4v6Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M135,75.77V69.91h3.79v.42h-3.39v2.3H138v.42h-2.64v2.29h3.39v.43Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M146.16,74.86l2.22-5h.45l-2.67,6-2.65-6H144Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M153.61,75.77V69.91h3.79v.42H154v2.3h2.64v.42H154v2.29h3.38v.43Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M165.91,75.77l-2.43-3h.72a2.71,2.71,0,0,0,1.08-.17,1.4,1.4,0,0,0,.54-.43,1.06,1.06,0,0,0,0-1.25,1.3,1.3,0,0,0-.54-.46,1.73,1.73,0,0,0-.81-.18h-1.64v5.45h-.4V69.91h2a2.39,2.39,0,0,1,.77.13,1.94,1.94,0,0,1,.64.38,1.73,1.73,0,0,1,.4.53,1.47,1.47,0,0,1,.14.61,1.43,1.43,0,0,1-.3.89,1.89,1.89,0,0,1-1.25.72,5,5,0,0,1-.56,0l2.11,2.57Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M196.88,39.06v.17H196v2.18h-.16V39.23h-.93v-.17Z"
                                    transform="translate(0 -24.13)" />
                                  <path d="M199.84,41.41V39.55l-1,1.48-1.05-1.48v1.86h-.16V39l1.21,1.71L200,39v2.37Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M.3,60.37a.32.32,0,0,0,.36.36H14.35a.32.32,0,0,0,.36-.36V58.92a.32.32,0,0,0-.36-.36H2.82c-.24,0-.36-.09-.36-.28V51.36a.35.35,0,0,1,.36-.29h7.93a.32.32,0,0,0,.36-.36V49.27a.32.32,0,0,0-.17-.32H.3Z"
                                    transform="translate(0 -24.13)" />
                                  <path
                                    d="M14.35,41.27a.32.32,0,0,0,.36-.36V39.47a.32.32,0,0,0-.36-.36H.66a.32.32,0,0,0-.36.36v1.82H2.68l.14,0Z"
                                    transform="translate(0 -24.13)" />
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-element elementor-element-ea05a8d elementor-widget elementor-widget-text-editor"
                          data-id="ea05a8d" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              {% for block in section.blocks %}
                              {% if block.type == 'products' %}
                              <p>{{ block.settings.evolutionz_description }}</p>
                              {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <section
                          class="has_ae_slider elementor-element elementor-element-3e3b199 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="3e3b199" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-493e3c7 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="493e3c7" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-4b2cbd6 elementor-widget elementor-widget-heading"
                                      data-id="4b2cbd6" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Collection
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-e640c25 elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                      data-id="e640c25" data-element_type="widget"
                                      data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                      data-widget_type="nav-menu.default">
                                      <div class="elementor-widget-container">
                                        <nav role="navigation"
                                          class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-none">
                                          <ul id="menu-1-e640c25" class="elementor-nav-menu sm-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.evolutionz_collection_links].links %}
                                            {%- comment %}<locksmith:58cf>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.evolutionz_collection_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:58cf>{% endcomment -%}
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                              <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </nav>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-506463e elementor-widget elementor-widget-heading"
                                      data-id="506463e" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          Accessories
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-e640c25 elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                      data-id="e640c25" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                      data-widget_type="nav-menu.default">
                                      <div class="elementor-widget-container">
                                        <nav role="navigation"
                                          class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-none">
                                          <ul id="menu-1-e640c25" class="elementor-nav-menu sm-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.evolutionz_accessories_links].links %}
                                            {%- comment %}<locksmith:1196>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.evolutionz_accessories_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:1196>{% endcomment -%}
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                              <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </nav>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-a5ffb15 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="a5ffb15" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-3bb8e2c elementor-widget elementor-widget-heading"
                                      data-id="3bb8e2c" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Color Tone
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-4e6f2ec ae-icl-align-left ae-term-list--layout-traditional elementor-widget elementor-widget-ae-taxonomy-blocks"
                                      data-id="4e6f2ec" data-element_type="widget"
                                      data-widget_type="ae-taxonomy-blocks.list">
                                      <div class="elementor-widget-container">
                                        <div data-pid="10" data-wid="4e6f2ec" data-source="pa_any-color"
                                          class="ae-taxonomy-widget-wrapper">
                                          <ul class="ae-term-skin-list ae-icon-list-items ae-list-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.evolutionz_products_color_links].links %}
                                            {%- comment %}<locksmith:a852>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.evolutionz_products_color_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:a852>{% endcomment -%}
                                            <li class="ae-icon-list-item ae-term-list-item">
                                              <div class="ae-term-list-item-inner ae-icon-list-text">
                                                <div class="ae-term-title-wrapper">
                                                  <a href={{ link.url }}><span itemprop="name" class="ae-element-term-title"><span
                                                        class="term-list-text">{{ link.title | escape }}</span></span></a>
                                                </div>
                                              </div>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-8b2f1b8 elementor-widget elementor-widget-spacer"
                                      data-id="8b2f1b8" data-element_type="widget" data-widget_type="spacer.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                          <div class="elementor-spacer-inner">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-017d018 elementor-widget elementor-widget-heading"
                                      data-id="017d018" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-medium">
                                          By Type
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-f48e3c2 elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                      data-id="f48e3c2" data-element_type="widget"
                                      data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                      data-widget_type="nav-menu.default">
                                      <div class="elementor-widget-container">
                                        <nav role="navigation"
                                          class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-underline e--animation-none">
                                          <ul id="menu-1-f48e3c2" class="elementor-nav-menu sm-vertical">
                                            {% for block in section.blocks %}
                                            {% if block.type == 'products' %}
                                            {% for link in linklists[block.settings.evolutionz_type_links].links %}
                                            {%- comment %}<locksmith:facd>{% endcomment -%}
                                              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[block.settings.evolutionz_type_links], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                            {%- comment %}</locksmith:facd>{% endcomment -%}
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                              <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                            </li>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                          </ul>
                                        </nav>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-112c001 ae-bg-gallery-type-default elementor-column elementor-col-14 elementor-top-column"
                    data-id="112c001" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>