<!-- mega menu desktop brand snippet -->
<li id="cmm4e-menu-item-3216"
  class="cmm4e-menu-item cmm4e-item-depth-0 cmm4e-mega menu-item-has-children cmm4e-item-has-content">
  <a aria-haspopup="true" href="#" class="cmm4e-nav-link" itemprop="url">
    <span class="cmm4e-item-label" itemprop="name">
      {% for block in section.blocks %}
      {% if block.type == 'brand' %}
      {{ block.type }}
      {% endif %}
      {% endfor %}
    </span>
  </a>
  <span role="presentation" class="menu-item-arrow fa fa-angle-down"></span>
  <div class="cmm4e-sub-panel cmm4e-content-container" style="width:100%;">
    <div class="cmm4e-content-wrapper">
      <div data-elementor-type="wp-post" data-elementor-id="3489" class="elementor elementor-3489"
        data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="has_ae_slider elementor-element elementor-element-ea5fcb7 mega-menu-sec mega-menu-sec-two elementor-section-height-min-height elementor-section-full_width elementor-section-stretched elementor-section-items-top elementor-section-content-top elementor-section-height-default ae-bg-gallery-type-default elementor-invisible elementor-section elementor-top-section"
              data-id="ea5fcb7" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
              <div class="elementor-background-overlay">
              </div>
              <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-row">
                  <div
                    class="has_ae_slider elementor-element elementor-element-81112ee gc-mega-col-one ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                    data-id="81112ee" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <section
                          class="has_ae_slider elementor-element elementor-element-8dbbd72 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="8dbbd72" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-8225e16 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="8225e16" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-5dd79d6 elementor-widget elementor-widget-heading"
                                      data-id="5dd79d6" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a
                                            href={{ block.settings.brand_link_01 }}>{{ block.settings.brand_link_text_01 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-312f1a1 elementor-widget elementor-widget-text-editor"
                                      data-id="312f1a1" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_01 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-7f01d9d ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="7f01d9d" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-43e2ac0 elementor-widget elementor-widget-heading"
                                      data-id="43e2ac0" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_02 }}>{{ block.settings.brand_link_text_02 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-de9cab6 elementor-widget elementor-widget-text-editor"
                                      data-id="de9cab6" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_02 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-9a4661a elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="9a4661a" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-2c9c6a3 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="2c9c6a3" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-631c600 elementor-widget elementor-widget-heading"
                                      data-id="631c600" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_03 }}>{{ block.settings.brand_link_text_03 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-d434538 elementor-widget elementor-widget-text-editor"
                                      data-id="d434538" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_03 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-13c36a2 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="13c36a2" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-2497f27 elementor-widget elementor-widget-heading"
                                      data-id="2497f27" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_04 }}>{{ block.settings.brand_link_text_04 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-21d3787 elementor-widget elementor-widget-text-editor"
                                      data-id="21d3787" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_04 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-4239fd7 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="4239fd7" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-69e0c62 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="69e0c62" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-df5cc1b elementor-widget elementor-widget-heading"
                                      data-id="df5cc1b" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_05 }}>{{ block.settings.brand_link_text_05 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-a8f4461 elementor-widget elementor-widget-text-editor"
                                      data-id="a8f4461" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_05 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-2288af1 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="2288af1" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-6e485a9 elementor-widget elementor-widget-heading"
                                      data-id="6e485a9" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_06 }}>{{ block.settings.brand_link_text_06 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-ea89005 elementor-widget elementor-widget-text-editor"
                                      data-id="ea89005" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_06 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-2251b50 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="2251b50" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-4d63e9f ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="4d63e9f" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-b121c75 elementor-widget elementor-widget-heading"
                                      data-id="b121c75" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_link_07 }}>{{ block.settings.brand_link_text_07 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-4da5a62 elementor-widget elementor-widget-text-editor"
                                      data-id="4da5a62" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'brand' %}
                                            {{ block.settings.brand_link_description_07 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="has_ae_slider elementor-element elementor-element-433d828 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                data-id="433d828" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-eb726b2 gc-login-btn gc-hover-black-btn elementor-align-left elementor-widget elementor-widget-button"
                                      data-id="eb726b2" data-element_type="widget" data-widget_type="button.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_button_01 }} class="elementor-button-link elementor-button elementor-size-sm"
                                            role="button">
                                            <span class="elementor-button-content-wrapper">
                                              <span class="elementor-button-text">
                                                {{ block.settings.brand_button_text_01 }}
                                              </span>
                                            </span>
                                          </a>
                                          {% endif %}
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-50c21a1 gc-login-btn elementor-align-left elementor-widget elementor-widget-button"
                                      data-id="50c21a1" data-element_type="widget" data-widget_type="button.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'brand' %}
                                          <a href={{ block.settings.brand_button_02 }} class="elementor-button-link elementor-button elementor-size-sm"
                                            role="button">
                                            <span class="elementor-button-content-wrapper">
                                              <span class="elementor-button-text">
                                                {{ block.settings.brand_button_text_02 }}
                                              </span>
                                            </span>
                                          </a>
                                          {% endif %}
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-ffacc30 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                    data-id="ffacc30" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    {% for block in section.blocks %}
                    {% if block.type == 'brand' %}
                    <div class="elementor-column-wrap  elementor-element-populated"
                      style="background-image:url('{{ block.settings.brand_background | img_url : '1000x' }}')" ​​​​​​>
                    {% endif %}
                    {% endfor %}
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-9cfc260 elementor-widget elementor-widget-text-editor"
                          data-id="9cfc260" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              <p>
                                {% for block in section.blocks %}
                                {% if block.type == 'brand' %}
                                {{ block.settings.brand_description }}
                                {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>