<!-- mega menu desktop learn snippet -->
<li id="cmm4e-menu-item-3567"
  class="cmm4e-menu-item cmm4e-item-depth-0 cmm4e-mega menu-item-has-children cmm4e-item-has-content">
  <a aria-haspopup="true" href="#" class="cmm4e-nav-link" itemprop="url">
    <span class="cmm4e-item-label" itemprop="name">
      {% for block in section.blocks %}
      {% if block.type == 'learn' %}
      {{ block.type }}
      {% endif %}
      {% endfor %}
    </span>
  </a>
  <span role="presentation" class="menu-item-arrow fa fa-angle-down"></span>
  <div class="cmm4e-sub-panel cmm4e-content-container" style="width:100%;">
    <div class="cmm4e-content-wrapper">
      <div data-elementor-type="wp-post" data-elementor-id="3570" class="elementor elementor-3570"
        data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="has_ae_slider elementor-element elementor-element-d23469a mega-menu-sec-two mega-menu-sec elementor-section-full_width elementor-section-items-top elementor-section-content-top elementor-section-stretched elementor-section-height-min-height elementor-section-height-default ae-bg-gallery-type-default elementor-invisible elementor-section elementor-top-section"
              data-id="d23469a" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="has_ae_slider elementor-element elementor-element-1adecfc ae-bg-gallery-type-default elementor-column elementor-col-25 elementor-top-column"
                    data-id="1adecfc" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-bb5615e elementor-widget elementor-widget-spacer"
                          data-id="bb5615e" data-element_type="widget" data-widget_type="spacer.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                              <div class="elementor-spacer-inner">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-919b257 gc-learn-col-one ae-bg-gallery-type-default elementor-column elementor-col-25 elementor-top-column"
                    data-id="919b257" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <section
                          class="has_ae_slider elementor-element elementor-element-bf0e7a8 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="bf0e7a8" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-74b15fc ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="74b15fc" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-714c34b elementor-widget elementor-widget-heading"
                                      data-id="714c34b" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_01 }}>{{ block.settings.learn_link_text_01 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-1bcdb8f elementor-widget elementor-widget-text-editor"
                                      data-id="1bcdb8f" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_01 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-50bab57 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="50bab57" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-9aefe08 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="9aefe08" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-e1f9611 elementor-widget elementor-widget-heading"
                                      data-id="e1f9611" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_02 }}>{{ block.settings.learn_link_text_02 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-85f1c44 elementor-widget elementor-widget-text-editor"
                                      data-id="85f1c44" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_02 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-1641606 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="1641606" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-75c11c6 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="75c11c6" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-8b70285 elementor-widget elementor-widget-heading"
                                      data-id="8b70285" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_03 }}>{{ block.settings.learn_link_text_03 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-07c63d0 elementor-widget elementor-widget-text-editor"
                                      data-id="07c63d0" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_03 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-6159cf4 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="6159cf4" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-cc86a61 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="cc86a61" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-04fa9f6 elementor-widget elementor-widget-heading"
                                      data-id="04fa9f6" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_04 }}>{{ block.settings.learn_link_text_04 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-3f312da elementor-widget elementor-widget-text-editor"
                                      data-id="3f312da" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_04 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-ee730e8 gc-mega-col-one gc-learn-col-two ae-bg-gallery-type-default elementor-column elementor-col-25 elementor-top-column"
                    data-id="ee730e8" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <section
                          class="has_ae_slider elementor-element elementor-element-4b3d2a5 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="4b3d2a5" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-45f19df ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="45f19df" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-edb03da elementor-widget elementor-widget-heading"
                                      data-id="edb03da" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_05 }}>{{ block.settings.learn_link_text_05 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-5f8ca7e elementor-widget elementor-widget-text-editor"
                                      data-id="5f8ca7e" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_05 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-b8762e1 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="b8762e1" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-4c93b3e ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="4c93b3e" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-6dd4939 elementor-widget elementor-widget-heading"
                                      data-id="6dd4939" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_06 }}>{{ block.settings.learn_link_text_06 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-86b7e54 elementor-widget elementor-widget-text-editor"
                                      data-id="86b7e54" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_06 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-e38d081 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="e38d081" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-e2a0408 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="e2a0408" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-82f05b4 elementor-widget elementor-widget-heading"
                                      data-id="82f05b4" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_07 }}>{{ block.settings.learn_link_text_07 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-172d04e elementor-widget elementor-widget-text-editor"
                                      data-id="172d04e" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_07 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section
                          class="has_ae_slider elementor-element elementor-element-bbf8765 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                          data-id="bbf8765" data-element_type="section">
                          <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                              <div
                                class="has_ae_slider elementor-element elementor-element-6a69bc1 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                data-id="6a69bc1" data-element_type="column">
                                <div class="elementor-column-wrap  elementor-element-populated">
                                  <div class="elementor-widget-wrap">
                                    <div
                                      class="elementor-element elementor-element-61b6f20 elementor-widget elementor-widget-heading"
                                      data-id="61b6f20" data-element_type="widget" data-widget_type="heading.default">
                                      <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">
                                          {% for block in section.blocks %}
                                          {% if block.type == 'learn' %}
                                          <a href={{ block.settings.learn_link_08 }}>{{ block.settings.learn_link_text_08 }}</a>
                                          {% endif %}
                                          {% endfor %}
                                        </h2>
                                      </div>
                                    </div>
                                    <div
                                      class="elementor-element elementor-element-7b72bce elementor-widget elementor-widget-text-editor"
                                      data-id="7b72bce" data-element_type="widget"
                                      data-widget_type="text-editor.default">
                                      <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                          <p>
                                            {% for block in section.blocks %}
                                            {% if block.type == 'learn' %}
                                            {{ block.settings.learn_link_description_08 }}
                                            {% endif %}
                                            {% endfor %}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div
                    class="has_ae_slider elementor-element elementor-element-424ac62 ae-bg-gallery-type-default elementor-column elementor-col-25 elementor-top-column"
                    data-id="424ac62" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    {% for block in section.blocks %}
                    {% if block.type == 'learn' %}
                    <div class="elementor-column-wrap  elementor-element-populated"
                      style="background-image:url('{{ block.settings.learn_background | img_url : '1000x' }}')" ​​​​​​>
                    {% endif %}
                    {% endfor %}
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-background-overlay">
                      </div>
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-3f68470 elementor-widget elementor-widget-text-editor"
                          data-id="3f68470" data-element_type="widget" data-widget_type="text-editor.default">
                          <div class="elementor-widget-container">
                            <div class="elementor-text-editor elementor-clearfix">
                              <p>
                                {% for block in section.blocks %}
                                {% if block.type == 'learn' %}
                                {{ block.settings.learn_description }}
                                {% endif %}
                                {% endfor %}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>