<section
    class="has_ae_slider elementor-element elementor-element-a9007c2 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="a9007c2" data-element_type="section" id="prowid">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-7cae9fa gc-prod-head-col ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                data-id="7cae9fa" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-39189f4 elementor-pagination-position-inside gc-gallery-acf elementor-widget elementor-widget-image-carousel"
                            data-id="39189f4" data-element_type="widget"
                            data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;dots&quot;,&quot;speed&quot;:200,&quot;effect&quot;:&quot;fade&quot;,&quot;autoplay&quot;:&quot;no&quot;,&quot;infinite&quot;:&quot;yes&quot;,&quot;direction&quot;:&quot;ltr&quot;}"
                            data-widget_type="image-carousel.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
                                    <div class="elementor-image-carousel swiper-wrapper swiper-image-stretch">
                                        {% for image in product.images %}
                                        <div class="swiper-slide">
                                            <figure class="swiper-slide-inner"><img class="swiper-slide-image"
                                                    src="{{ image.src | product_img_url: '2000x1499' }}"
                                                    alt="AFRICAN WALNUT - Heritage Collection by Pravada Floors" />
                                            </figure>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="has_ae_slider elementor-element elementor-element-3b6e0b1 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                data-id="3b6e0b1" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-aacf16e elementor-section-full_width elementor-section-height-min-height elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="aacf16e" data-element_type="section"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-20238e7 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                        data-id="20238e7" data-element_type="column"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-54ccd2c elementor-widget elementor-widget-shortcode"
                                                    data-id="54ccd2c" data-element_type="widget"
                                                    data-widget_type="shortcode.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-shortcode">
                                                            <div class="gc-header-content"
                                                                style="background-color:{{product.metafields.header_bgcolor.header_bgcolor}};">
                                                                <div class="gc-single-prod-col">
                                                                    <img
                                                                        src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/LOGOMARK_cut_prod-gallery-01.png?v=1598294126">
                                                                </div>
                                                                <div class=gc-single-prod-col>
                                                                    <div class="gc-single-prod-desc">
                                                                        <h2 class="gc-single-prod-name">{{ product.title }}</h2>
                                                                        <h4 class="gc-single-prod-cat">
                                                                            {% for collection in product.collections %}
                                                                                {% if collection.title contains 'Collection' %}
                                                                                    {{collection.title }}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </h4>
                                                                    </div>
                                                                    <p>{{ product.description }}</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="has_ae_slider elementor-element elementor-element-89c0cd1 elementor-section-height-min-height gc-fixed-img elementor-section-boxed elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="89c0cd1" data-element_type="section"
                            style="background-image:url('{{ product.metafields.secondary_image.secondary_image}}')"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-cd7e4b8 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                        data-id="cd7e4b8" data-element_type="column"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>