<!-- single product sub header -->
<section
    class="has_ae_slider elementor-element elementor-element-a7c0b28 elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="a7c0b28" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-6cc11632 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="6cc11632" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-1c53282 gc-back-col-btn elementor-widget elementor-widget-premium-addon-button"
                            data-id="1c53282" data-element_type="widget"
                            data-widget_type="premium-addon-button.default">
                            <div class="elementor-widget-container">

                                <div class="premium-button-container">
                                    <a class="premium-button premium-button-lg premium-button-none"
                                        href="/collections/">
                                        <div class="premium-button-text-icon-wrapper">
                                            <span>Back to Collections</span>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="has_ae_slider elementor-element elementor-element-20ec7217 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="20ec7217" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-5d92814 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="5d92814" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-f537282 ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="f537282" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2671b56 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="2671b56" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a href={{product.metafields.warranty_page.warranty_page}}>
                                                                    <img src={{product.metafields.icon.icon-warranty}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-e79210f ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="e79210f" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-947b8ce gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="947b8ce" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a href={{product.metafields.compliance_page.compliance_page}}>
                                                                    <img src={{product.metafields.icon.icon-compliance}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-d2784f0 ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="d2784f0" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-e541d00 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="e541d00" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.board_variance_page.board_variance_page}}>
                                                                    <img src={{product.metafields.icon.icon-variance}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-7b7cc4e ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="7b7cc4e" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-1006ee6 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="1006ee6" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.sensitivity_page.sensitivity_page}}>
                                                                    <img src={{product.metafields.icon.icon-sensitivity}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-7d483ae ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="7d483ae" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-a162f1f gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="a162f1f" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.radiant_approve_page.radiant_approve_page}}>
                                                                    <img src={{product.metafields.icon.icon-Radiant}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="has_ae_slider elementor-element elementor-element-413d643 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="413d643" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-1af26e8 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="1af26e8" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="has_ae_slider elementor-element elementor-element-b58c338 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                    data-id="b58c338" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-60f0293 gc-wl-prodpage elementor-widget elementor-widget-shortcode"
                                                data-id="60f0293" data-element_type="widget" data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <div
                                                            class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper">
                                                            <a role="button"
                                                                class="tinvwl_add_to_wishlist_button tinvwl-icon-heart no-txt  tinvwl-position-after"
                                                                data-tinv-wl-list="[{&quot;ID&quot;:227,&quot;title&quot;:&quot;Default wishlist&quot;,&quot;url&quot;:&quot;https://pravada.webounces.com/favorites/D94A8F/&quot;,&quot;in&quot;:false}]"
                                                                data-tinv-wl-product="11526" data-tinv-wl-productvariation="0"
                                                                data-tinv-wl-productvariations="[0]" data-tinv-wl-producttype="simple"
                                                                data-tinv-wl-action="addto"></a>
                                                            <div class="tinvwl-tooltip">Add to Wishlist</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="has_ae_slider elementor-element elementor-element-64bd379 gc-mb-col ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                    data-id="64bd379" data-element_type="column">
                                    <div class="elementor-column-wrap  elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-7cb898f gc-mb-wid elementor-widget elementor-widget-shortcode"
                                                data-id="7cb898f" data-element_type="widget" data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <i class="mb-prodID mb-products-pop icon icon-moodboard pum-trigger" alt="11526"
                                                        style="font-size: 25px; padding: 5px; border: 1px solid black; display: inline-block; top: 5px; cursor: pointer;"></i>
                                                    <div class="elementor-shortcode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>