<section
    class="has_ae_slider elementor-element elementor-element-ed34a76 elementor-section-full_width elementor-hidden-desktop elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="ed34a76" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-a03bc15 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="a03bc15" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-8703fd7 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="8703fd7" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-096986c ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="096986c" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-11dd393 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="11dd393" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a href={{product.metafields.warranty_page.warranty_page}}>
                                                                    <img src={{product.metafields.icon.icon-warranty}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-e65a67f ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="e65a67f" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-f445b60 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="f445b60" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a href={{product.metafields.compliance_page.compliance_page}}>
                                                                    <img src={{product.metafields.icon.icon-compliance}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-b062db4 ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="b062db4" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-8fbb5b9 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="8fbb5b9" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.board_variance_page.board_variance_page}}>
                                                                    <img src={{product.metafields.icon.icon-variance}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-2766a43 ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="2766a43" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-c11f20d gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="c11f20d" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.sensitivity_page.sensitivity_page}}>
                                                                    <img src={{product.metafields.icon.icon-sensitivity}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-cb20d85 ae-bg-gallery-type-default elementor-column elementor-col-20 elementor-inner-column"
                                        data-id="cb20d85" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-8ebcab0 gc-ex-notes-sec elementor-widget elementor-widget-image"
                                                    data-id="8ebcab0" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <a
                                                                    href={{product.metafields.radiant_approve_page.radiant_approve_page}}>
                                                                    <img src={{product.metafields.icon.icon-Radiant}}
                                                                        class="attachment-full size-full" alt=""
                                                                        loading="lazy" /> </a>
                                                                <figcaption
                                                                    class="widget-image-caption wp-caption-text">
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="has_ae_slider elementor-element elementor-element-1bcae0a gc-back-collect-col ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="1bcae0a" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-13f61dc gc-back-col-btn elementor-widget elementor-widget-premium-addon-button"
                            data-id="13f61dc" data-element_type="widget"
                            data-widget_type="premium-addon-button.default">
                            <div class="elementor-widget-container">

                                <div class="premium-button-container">
                                    <a class="premium-button premium-button-lg premium-button-none"
                                        href="https://pravada.webounces.com/collections/">
                                        <div class="premium-button-text-icon-wrapper">
                                            <span>Back to Collections</span>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="has_ae_slider elementor-element elementor-element-61eec62 gc-func-col ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                data-id="61eec62" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-a02c4e1 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="a02c4e1" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-6b4ac35 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                        data-id="6b4ac35" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-f4f5f44 gc-wl-prodpage elementor-widget elementor-widget-shortcode"
                                                    data-id="f4f5f44" data-element_type="widget"
                                                    data-widget_type="shortcode.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-shortcode">
                                                            <div
                                                                class="tinv-wraper woocommerce tinv-wishlist tinvwl-after-add-to-cart tinvwl-loop-button-wrapper">
                                                                <a role="button"
                                                                    class="tinvwl_add_to_wishlist_button tinvwl-icon-heart no-txt  tinvwl-position-after"
                                                                    data-tinv-wl-list="" data-tinv-wl-product="11526"
                                                                    data-tinv-wl-productvariation="0"
                                                                    data-tinv-wl-productvariations="[0]"
                                                                    data-tinv-wl-producttype="simple"
                                                                    data-tinv-wl-action="add"></a>
                                                                <div class="tinvwl-tooltip">Add to
                                                                    Wishlist</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-8ba5fef gc-mb-col ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                        data-id="8ba5fef" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-48b3bd0 gc-mb-wid elementor-widget elementor-widget-shortcode"
                                                    data-id="48b3bd0" data-element_type="widget"
                                                    data-widget_type="shortcode.default">
                                                    <div class="elementor-widget-container">
                                                        <i class="mb-prodID mb-products-pop icon icon-moodboard"
                                                            alt="11526"
                                                            style="font-size: 25px; padding: 5px; border: 1px solid black; display: inline-block; top: 5px;"></i>
                                                        <div class="elementor-shortcode"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>