<!-- single product header (collection logo and product title) -->
<section
    class="has_ae_slider elementor-element elementor-element-6d241cb3 product-nav-sec elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="6d241cb3" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-50ab1e4 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                data-id="50ab1e4" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-77ead1e elementor-widget elementor-widget-image"
                            data-id="77ead1e" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    {% for collection in product.collections %}
                                    {% if collection.title contains 'Collection' %}
                                    <img src={{collection.metafields.Logo_for_ProductPage.logo_for_productpage}}
                                        class="attachment-full size-full" alt="" loading="lazy" />
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-eedda7d gc-product-nav elementor-widget elementor-widget-post-navigation"
                            data-id="eedda7d" data-element_type="widget" data-widget_type="post-navigation.default">
                            <div class="elementor-widget-container">
                                {% for collection in product.collections %}
                                {% if collection.title contains 'Collection' %}
                                <div class="elementor-post-navigation elementor-grid">
                                    <div class="elementor-post-navigation__prev elementor-post-navigation__link">
                                        <a href={{collection.previous_product}} rel="prev">
                                            {% if collection.previous_product %}
                                                <span class="post-navigation__arrow-wrapper post-navigation__arrow-prev">
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    <span class="elementor-screen-only">Prev</span>
                                                </span>
                                            {% endif %}
                                            <span class="elementor-post-navigation__link__prev">
                                                <span class="post-navigation__prev--label">
                                                    Previous Product
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="elementor-post-navigation__next elementor-post-navigation__link">
                                        <a href={{collection.next_product}} rel="next">
                                            <span class="elementor-post-navigation__link__next">
                                                <span class="post-navigation__next--label">
                                                    Next Product
                                                </span>
                                            </span>
                                            {% if collection.next_product %}
                                                <span class="post-navigation__arrow-wrapper post-navigation__arrow-next">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    <span class="elementor-screen-only">Next</span>
                                                </span>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6a49fd6 elementor-widget elementor-widget-text-editor"
                            data-id="6a49fd6" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    {{ product.metafields.subtitle.subtitle }}</div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c711693 elementor-drop-cap-yes elementor-drop-cap-view-default elementor-widget elementor-widget-text-editor"
                            data-id="c711693" data-element_type="widget"
                            data-settings="{&quot;drop_cap&quot;:&quot;yes&quot;}"
                            data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">{{ product.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>