<link rel='stylesheet' id='single-blog-inline-css' href="{{ 'single-blog-inline.css' | asset_url }}" type='text/css'
    media='all' />

<div data-elementor-type="single" data-elementor-id="4284"
    class="elementor elementor-4284 elementor-location-single post-13791 post type-post status-publish format-standard has-post-thumbnail hentry category-tips-and-advice tag-care tag-maintenance tag-technical tag-tips"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="has_ae_slider elementor-element elementor-element-9cbbb36 elementor-section-height-min-height elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-items-middle ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="9cbbb36" data-element_type="section"
                style="background-image: url('{{ article.image | img_url: 'master' }}')"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-4e0da2e ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="4e0da2e" data-element_type="column"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-6cac39d elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="6cac39d" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-34bd03c ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="34bd03c" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-87a4679 elementor-widget elementor-widget-text-editor"
                                                                data-id="87a4679" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_type.blog_type}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-c4fe2c2 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                                        data-id="c4fe2c2" data-element_type="widget"
                                        data-widget_type="theme-post-title.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">
                                                {{ article.title }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c5ac822 elementor-hidden-phone elementor-hidden-tablet elementor-widget elementor-widget-divider"
                                        data-id="c5ac822" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-95aa761 elementor-hidden-desktop elementor-widget elementor-widget-divider"
                                        data-id="95aa761" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2a74814 gc-no-space elementor-widget elementor-widget-text-editor"
                                        data-id="2a74814" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="has_ae_slider elementor-element elementor-element-d9b2d2b elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="d9b2d2b" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-32b9133 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                            data-id="32b9133" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-4e7c3bb elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="4e7c3bb" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-a94caeb ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="a94caeb" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4146805 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="4146805" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a
                                                                            href={{article.metafields.blog_first_image.full}}>
                                                                            <img src={{article.metafields.blog_first_image.full}}
                                                                                title="" alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-4146805 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="4146805" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_first_image.credits}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-ced2a46 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="ced2a46" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-2329c1c ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="2329c1c" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-673ebce elementor-widget elementor-widget-heading"
                                                                data-id="673ebce" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        {{article.metafields.blog_first_content.title}}
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-ff0ca73 elementor-widget elementor-widget-text-editor"
                                                                data-id="ff0ca73" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_first_content.text}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-ec75588 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="ec75588" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-21164b8 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="21164b8" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-731c11b gc-no-space elementor-widget elementor-widget-image"
                                                                data-id="731c11b" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a
                                                                            href={{article.metafields.blog_second_image.shared}}>
                                                                            <img src={{article.metafields.blog_second_image.shared}}
                                                                                title="" alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-55cb2a4 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="55cb2a4" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_second_image.credits}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-b013706 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="b013706" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-717c321 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="717c321" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a
                                                                            href={{article.metafields.blog_third_image.shared}}>
                                                                            <img src={{article.metafields.blog_third_image.shared}}
                                                                                title="" alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-717c321 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="717c321" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_third_image.credits}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-dee5809 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="dee5809" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-7418ca6 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="7418ca6" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-29d0490 elementor-widget elementor-widget-heading"
                                                                data-id="29d0490" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        {{article.metafields.blog_second_content.title}}
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-e739057 elementor-widget elementor-widget-text-editor"
                                                                data-id="e739057" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.blog_second_content.text}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-e739057 elementor-widget elementor-widget-text-editor"
                                                                data-id="e739057" data-element_type="widget"
                                                                data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;direction&quot;:&quot;ltr&quot;}"
                                                                data-widget_type="image-carousel.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-carousel-wrapper swiper-container"
                                                                        dir="ltr">
                                                                        <div
                                                                            class="elementor-image-carousel swiper-wrapper swiper-image-stretch">
                                                                            {% assign gallery_images = article.metafields.blog_gallery.images | split: ',' %}
                                                                            {% for gallery_image in gallery_images %}
                                                                            <div class="swiper-slide">
                                                                                <a href={{ gallery_image }}>
                                                                                    <figure class="swiper-slide-inner">
                                                                                        <img class="swiper-slide-image"
                                                                                            src={{ gallery_image }} />
                                                                                    </figure>
                                                                                </a>
                                                                            </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                        <div class="swiper-pagination"></div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-prev">
                                                                            <i class="eicon-chevron-left"
                                                                                aria-hidden="true"></i>
                                                                            <span
                                                                                class="elementor-screen-only">Previous</span>
                                                                        </div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-next">
                                                                            <i class="eicon-chevron-right"
                                                                                aria-hidden="true"></i>
                                                                            <span
                                                                                class="elementor-screen-only">Next</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-5dc24cb elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="5dc24cb" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-ee2e026 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="ee2e026" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-2da38fd elementor-align-center elementor-widget elementor-widget-button"
                                                                data-id="2da38fd" data-element_type="widget"
                                                                data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href={{article.metafields.blog_learn_more.link}}
                                                                            target="_blank"
                                                                            class="elementor-button-link elementor-button elementor-size-sm"
                                                                            role="button">
                                                                            <span
                                                                                class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">
                                                                                    {{article.metafields.blog_learn_more.name}}
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-eeb6233 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="eeb6233" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-835e906 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-inner-column"
                                                    data-id="835e906" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-5e69dbc elementor-widget elementor-widget-text-editor"
                                                                data-id="5e69dbc" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        Share:</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-ad84c67 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-inner-column"
                                                    data-id="ad84c67" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-d7ae19d elementor-share-buttons--view-icon elementor-share-buttons--skin-flat elementor-share-buttons--shape-circle elementor-share-buttons--color-custom elementor-grid-0 elementor-widget elementor-widget-share-buttons"
                                                                data-id="d7ae19d" data-element_type="widget"
                                                                data-widget_type="share-buttons.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-grid">
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_twitter">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-twitter"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on twitter</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_facebook">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-facebook"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on facebook</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_pinterest">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-pinterest"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on pinterest</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_linkedin">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-linkedin"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on linkedin</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-ad84c67 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-inner-column"
                                                    data-id="ad84c67" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ea5d84f gc-post-nav elementor-widget elementor-widget-post-navigation"
                                                                data-id="ea5d84f" data-element_type="widget"
                                                                data-widget_type="post-navigation.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-post-navigation elementor-grid">
                                                                        <div
                                                                            class="elementor-post-navigation__prev elementor-post-navigation__link">
                                                                            <a href={{blog.previous_article}}
                                                                                rel="prev">
                                                                                <span
                                                                                    class="post-navigation__arrow-wrapper post-navigation__arrow-prev">
                                                                                    <i class="fa fa-caret-left"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Prev</span>
                                                                                </span>
                                                                                <span
                                                                                    class="elementor-post-navigation__link__prev">
                                                                                    <span
                                                                                        class="post-navigation__prev--label"></span>
                                                                                    <span
                                                                                        class="post-navigation__prev--title">
                                                                                        Previous Article
                                                                                    </span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                        <div
                                                                            class="elementor-post-navigation__next elementor-post-navigation__link">
                                                                            <a href={{blog.next_article}} rel="next">
                                                                                <span
                                                                                    class="elementor-post-navigation__link__next">
                                                                                    <span
                                                                                        class="post-navigation__next--label">
                                                                                    </span>
                                                                                    <span
                                                                                        class="post-navigation__next--title">
                                                                                        Next Article
                                                                                    </span>
                                                                                </span>
                                                                                <span
                                                                                    class="post-navigation__arrow-wrapper post-navigation__arrow-next">
                                                                                    <i class="fa fa-caret-right"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Next</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-ce63cc1 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="ce63cc1" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-c256a28 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="c256a28" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-0a1a99b elementor-widget elementor-widget-heading"
                                                                data-id="0a1a99b" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        RELATED BLOGS</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-11935b3 elementor-widget elementor-widget-shortcode"
                                                                data-id="11935b3" data-element_type="widget"
                                                                data-widget_type="shortcode.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-shortcode">
                                                                        {% assign i = 0 %}
                                                                        {% for project in blog.articles %}
                                                                        {% if project.id != article.id %}
                                                                        {% assign t = i | plus: 1 %}
                                                                        {% assign i = t %}
                                                                        {% if t <= 3 %}
                                                                        <div class="proj-container"
                                                                            style="background-image: url('{{ project.image | img_url: 'large' }}')">
                                                                            <a href={{ project.url }}>
                                                                                <div class="proj-contents">
                                                                                    <h4>{{ blog.title }}</h4>
                                                                                    <h3>{{ project.title }}</h3>
                                                                                    <p>By {{ project.author }}</p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-2621a2a ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                            data-id="2621a2a" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-55605f9 gc- elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="55605f9" data-element_type="section"
                                        style="background-image: url('{{article.metafields.blog_collection.featured_image}}'); background-size: cover;"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-fb18a75 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="fb18a75" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1a22183 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="1a22183" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        NEW COLLECTION</div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-10249f1 elementor-widget elementor-widget-image"
                                                                data-id="10249f1" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="300" height="200"
                                                                            src={{article.metafields.blog_collection.featured_logo}}
                                                                            class="attachment-full size-full" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-abb7c38 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="abb7c38" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        By Pravada Floors</div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-35df7ac elementor-align-center elementor-widget elementor-widget-button"
                                                                data-id="35df7ac" data-element_type="widget"
                                                                data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href={{article.metafields.blog_collection.featured_link}}
                                                                            class="elementor-button-link elementor-button elementor-size-sm"
                                                                            role="button">
                                                                            <span
                                                                                class="elementor-button-content-wrapper">
                                                                                <span
                                                                                    class="elementor-button-text">View</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-ae1d428 gc-single-tags elementor-widget elementor-widget-wp-widget-tag_cloud"
                                        data-id="ae1d428" data-element_type="widget"
                                        data-widget_type="wp-widget-tag_cloud.default">
                                        <div class="elementor-widget-container">
                                            <h5>Tags</h5>
                                            <div class="tagcloud">
                                                {% for tag in article.tags %}
                                                <a href="" class="tag-cloud-link tag-link-250 tag-link-position-1"
                                                    style="font-size: 8pt;" aria-label="advice (1 item)">
                                                    {{ tag }}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>