<link rel='stylesheet' id='single-project-inline-css' href="{{ 'single-project-inline.css' | asset_url }}"
    type='text/css' media='all' />

<div data-elementor-type="single" data-elementor-id="7110"
    class="elementor elementor-7110 elementor-location-single post-574 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-projects portfolio_tag-architecture portfolio_tag-design portfolio_tag-ideas-interior portfolio_tag-interiors"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="has_ae_slider elementor-element elementor-element-6f61c97 elementor-section-stretched elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="6f61c97" data-element_type="section"
                style="background-image: url('{{ article.image | img_url: 'master' }}')"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-7184241 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="7184241" data-element_type="column"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-dda6056 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="dda6056" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-fb41b6b ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="fb41b6b" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-659a262 elementor-widget elementor-widget-text-editor"
                                                                data-id="659a262" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.project_type.project_type}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-cf6f4f0 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                                        data-id="cf6f4f0" data-element_type="widget"
                                        data-widget_type="theme-post-title.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">
                                                {{ article.title }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-ea5ff23 elementor-hidden-phone elementor-hidden-tablet elementor-widget elementor-widget-divider"
                                        data-id="ea5ff23" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-701024a elementor-hidden-desktop elementor-widget elementor-widget-divider"
                                        data-id="701024a" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c01e924 gc-no-space elementor-widget elementor-widget-text-editor"
                                        data-id="c01e924" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                DESIGN BY {{article.metafields.interior_designer.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="has_ae_slider elementor-element elementor-element-9ac8c95 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="9ac8c95" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-4cab7ad ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                            data-id="4cab7ad" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-9cb2b89 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="9cb2b89" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-521bab0 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="521bab0" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-8b9b548 gc-no-space elementor-widget elementor-widget-image"
                                                                data-id="8b9b548" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a href={{article.metafields.first_image.full}}>
                                                                            <img src={{article.metafields.first_image.full}}
                                                                                alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-259003f gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="259003f" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.first_image.credits}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-1d7a6f6 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="1d7a6f6" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-ea2279a ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="ea2279a" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-56c3514 elementor-widget elementor-widget-heading"
                                                                data-id="56c3514" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        {{article.metafields.first_content.title}}
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-335cc91 elementor-widget elementor-widget-text-editor"
                                                                data-id="335cc91" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.first_content.text}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-9736d7e elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="9736d7e" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-84736e4 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="84736e4" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-d8ec8b9 gc-no-space elementor-widget elementor-widget-image"
                                                                data-id="d8ec8b9" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a
                                                                            href={{article.metafields.second_image.shared}}>
                                                                            <img src={{article.metafields.second_image.shared}}
                                                                                title="" alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-68ee686 gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="68ee686" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.second_image.credits}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-65d9d7a ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="65d9d7a" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-2c041c4 gc-no-space elementor-widget elementor-widget-image"
                                                                data-id="2c041c4" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <a
                                                                            href={{article.metafields.third_image.shared}}>
                                                                            <img src={{article.metafields.third_image.shared}}
                                                                                title="" alt="" />
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2976a6c gc-no-space elementor-widget elementor-widget-text-editor"
                                                                data-id="2976a6c" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.third_image.credits}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-10060c2 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="10060c2" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-c7529ff ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="c7529ff" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7619254 elementor-widget elementor-widget-heading"
                                                                data-id="7619254" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        {{article.metafields.second_content.title}}
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-613df3a elementor-widget elementor-widget-text-editor"
                                                                data-id="613df3a" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.second_content.text}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-d37da8a elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel"
                                                                data-id="d37da8a" data-element_type="widget"
                                                                data-settings="{&quot;slides_to_show&quot;:&quot;4&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;direction&quot;:&quot;ltr&quot;}"
                                                                data-widget_type="image-carousel.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-carousel-wrapper swiper-container"
                                                                        dir="ltr">
                                                                        <div
                                                                            class="elementor-image-carousel swiper-wrapper swiper-image-stretch">
                                                                            {% assign gallery_images = article.metafields.second_content.images_gallery | split: ',' %}
                                                                            {% for gallery_image in gallery_images %}
                                                                            <div class="swiper-slide">
                                                                                <a href={{ gallery_image }}>
                                                                                    <figure class="swiper-slide-inner">
                                                                                        <img class="swiper-slide-image"
                                                                                            src={{ gallery_image }} />
                                                                                    </figure>
                                                                                </a>
                                                                            </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                        <div class="swiper-pagination"></div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-prev">
                                                                            <i class="eicon-chevron-left"
                                                                                aria-hidden="true"></i>
                                                                            <span
                                                                                class="elementor-screen-only">Previous</span>
                                                                        </div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-next">
                                                                            <i class="eicon-chevron-right"
                                                                                aria-hidden="true"></i>
                                                                            <span
                                                                                class="elementor-screen-only">Next</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-c72675a elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="c72675a" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-4c3b6dd ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="4c3b6dd" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-8e469a0 elementor-align-center elementor-widget elementor-widget-button"
                                                                data-id="8e469a0" data-element_type="widget"
                                                                data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href={{article.metafields.learn_more.link}}
                                                                            class="elementor-button-link elementor-button elementor-size-sm"
                                                                            role="button">
                                                                            <span
                                                                                class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">
                                                                                    {{article.metafields.learn_more.name}}
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-f36b8a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="f36b8a6" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-41cbb47 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-inner-column"
                                                    data-id="41cbb47" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-21a8812 elementor-widget elementor-widget-text-editor"
                                                                data-id="21a8812" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        Share:</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-64c0300 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-inner-column"
                                                    data-id="64c0300" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4847661 elementor-share-buttons--view-icon elementor-share-buttons--skin-flat elementor-share-buttons--shape-circle elementor-share-buttons--color-custom elementor-grid-0 elementor-widget elementor-widget-share-buttons"
                                                                data-id="4847661" data-element_type="widget"
                                                                data-widget_type="share-buttons.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-grid">
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_twitter">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-twitter"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on twitter</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_facebook">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-facebook"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on facebook</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_pinterest">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-pinterest"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on pinterest</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-grid-item">
                                                                            <div
                                                                                class="elementor-share-btn elementor-share-btn_linkedin">
                                                                                <span class="elementor-share-btn__icon">
                                                                                    <i class="fab fa-linkedin"
                                                                                        aria-hidden="true"></i>
                                                                                    <span
                                                                                        class="elementor-screen-only">Share
                                                                                        on linkedin</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-0c730bf elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="0c730bf" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-de9226c ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="de9226c" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-c07be22 elementor-widget elementor-widget-heading"
                                                                data-id="c07be22" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        RELATED PROJECTS</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-79d170c elementor-widget elementor-widget-shortcode"
                                                                data-id="79d170c" data-element_type="widget"
                                                                data-widget_type="shortcode.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-shortcode">
                                                                        {% assign i = 0 %}
                                                                        {% for project in blog.articles %}
                                                                        {% if project.id != article.id %}
                                                                        {% assign t = i | plus: 1 %}
                                                                        {% assign i = t %}
                                                                        {% if t <= 3 %}
                                                                        <div class="proj-container"
                                                                            style="background-image: url('{{ project.image | img_url: 'large' }}')">
                                                                            <a href={{ project.url }}>
                                                                                <div class="proj-contents">
                                                                                    <h4>{{ blog.title }}</h4>
                                                                                    <h3>{{ project.title }}</h3>
                                                                                    <p>By {{ project.author }}</p>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        {% endif %}
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-3567f51 gc-single-port-sidebar ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                            data-id="3567f51" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-ed9e4af elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="ed9e4af" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-6fe11fc ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="6fe11fc" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-11447f3 project-name elementor-widget elementor-widget-text-editor"
                                                                data-id="11447f3" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{ article.title }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-5a07238 interior-designer elementor-widget elementor-widget-text-editor"
                                                                data-id="5a07238" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <a href={{article.metafields.interior_designer.link}}
                                                                            target="_blank">
                                                                            {{article.metafields.interior_designer.name}}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-7f8b10a architects elementor-widget elementor-widget-text-editor"
                                                                data-id="7f8b10a" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <a href={{article.metafields.architects_name_link.architects_name_link}}
                                                                            target="_blank">
                                                                            {{article.metafields.architects_name.architects_name}}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-86320d8 builder elementor-widget elementor-widget-text-editor"
                                                                data-id="86320d8" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.builder_name.builder_name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-80f428c location elementor-widget elementor-widget-text-editor"
                                                                data-id="80f428c" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.location.location}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-54bd915 completion elementor-drop-cap-yes elementor-drop-cap-view-default elementor-widget elementor-widget-text-editor"
                                                                data-id="54bd915" data-element_type="widget"
                                                                data-settings="{&quot;drop_cap&quot;:&quot;yes&quot;}"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.completion.year}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-b649d5d photography elementor-widget elementor-widget-text-editor"
                                                                data-id="b649d5d" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        {{article.metafields.photography.name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-09d96c0 elementor-widget elementor-widget-spacer"
                                                                data-id="09d96c0" data-element_type="widget"
                                                                data-widget_type="spacer.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-spacer">
                                                                        <div class="elementor-spacer-inner"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-8d995ff elementor-cta--skin-cover elementor-cta--valign-middle elementor-widget__width-inherit elementor-widget elementor-widget-call-to-action"
                                                                data-id="8d995ff" data-element_type="widget"
                                                                data-widget_type="call-to-action.default">
                                                                <div class="elementor-widget-container">
                                                                    <a href={{article.metafields.product_featured.link}}
                                                                        class="elementor-cta">
                                                                        <div class="elementor-cta__bg-wrapper">
                                                                            <div class="elementor-cta__bg elementor-bg"
                                                                                style="background-image: url({{article.metafields.product_featured.image}});">
                                                                            </div>
                                                                            <div class="elementor-cta__bg-overlay">
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-cta__content">

                                                                            <h2
                                                                                class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                                                                                {{article.metafields.product_feature.name}}
                                                                            </h2>

                                                                            <div
                                                                                class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                                                                                {{article.metafields.product_featured.collection_name}}
                                                                            </div>

                                                                            <div
                                                                                class="elementor-cta__button-wrapper elementor-cta__content-item elementor-content-item ">
                                                                                <span
                                                                                    class="elementor-cta__button elementor-button elementor-size-sm">
                                                                                    See Product </span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>