<link rel='stylesheet' id='blog-archive-inline-css' href="{{ 'blog-archive-inline.css' | asset_url }}" type='text/css'
    media='all' />

<div class="wgl-container">
    <div class="row ">
        <div id='main-content' class="wgl_col-12">
            <div data-elementor-type="wp-page" data-elementor-id="4735" class="elementor elementor-4735"
                data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-9b73327 elementor-section-height-min-height elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-items-middle ae-bg-gallery-type-default elementor-section elementor-top-section"
                            data-id="9b73327" data-element_type="section"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_scrolling&quot;:&quot;yes&quot;,&quot;background_motion_fx_translateY_effect&quot;:&quot;yes&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_motion_fx_translateY_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:4,&quot;sizes&quot;:[]},&quot;background_motion_fx_translateY_affectedRange&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:{&quot;start&quot;:0,&quot;end&quot;:100}},&quot;background_motion_fx_devices&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;]}">
                            <div class="elementor-background-overlay"></div>
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-214041d ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                                        data-id="214041d" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-0624f72 gc-head-border elementor-widget elementor-widget-heading"
                                                    data-id="0624f72" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h1 class="elementor-heading-title elementor-size-default">
                                                            Celebrate living </h1>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-fd9e811 elementor-widget elementor-widget-heading"
                                                    data-id="fd9e811" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">
                                                            with fine designing</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-elementor-type="archive" data-elementor-id="9852" class="elementor elementor-9852 elementor-location-archive"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="has_ae_slider elementor-element elementor-element-7ea295ab elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="7ea295ab" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-bcafb2b ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="bcafb2b" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-13028201 elementor-widget elementor-widget-image"
                                        data-id="13028201" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="70" height="55"
                                                    src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/pravada-logomark_black.png?v=1598460410"
                                                    class="attachment-large size-large" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3a068c13 elementor-widget elementor-widget-heading"
                                        data-id="3a068c13" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ blog.title }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-39ac1338 elementor-widget elementor-widget-text-editor"
                                        data-id="39ac1338" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                {{blog.metafields.blog_description.blog_description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="wgl-container">
    <div class="row">
        <div id='main-content' class="wgl_col-12">
            <section class="wgl_cpt_section">
                <div class="wgl-portfolio" id="portfolio_module_5f37f464ab88c">
                    <div class="wgl-portfolio_wrapper">
                        <div class="wgl-portfolio_container container-grid row isotope portfolio_columns-3"
                            style="margin-right:-15px; margin-left:-15px; margin-bottom:-30px;">

                            {% for article in blog.articles %}
                            <article class="wgl-portfolio-list_item item wgl_col-4 projects"
                                style="padding-right:15px; padding-left:15px; padding-bottom:30px;">
                                <div class="aspect-ratio"
                                    style="background-image: url('{{ article.image.src | img_url: '450x450' }}'); background-size: cover;">
                                    <div
                                        class="portfolio-bg wgl-portfolio-item_wrapper inside_image sub_layer_animation">
                                        <div class="wgl-portfolio-item_image">
                                            <!-- <img src={{ article.image.src | img_url: '450x450' }} alt="" /> -->
                                        </div>
                                        <div class="wgl-portfolio-item_description">
                                            <div class="wgl-portfolio-item_description-inner">
                                                <div class="wgl-portfolio-item_title">
                                                    <h4 class="title">
                                                        <a href={{article.url}} target="_blank">
                                                            {{ article.title }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="wgl-portfolio-item_meta">
                                                    <span class="post_cats">
                                                        <a href={{blog.url}} class="portfolio-category">
                                                            {{ blog.title }}
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href={{article.url}} class='portfolio_link single_link'>
                                            <i class='portfolio_link-icon flaticon-right-arrow'></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="wgl-container">
    <div class="row ">
        <div id='main-content' class="wgl_col-12">
            <div data-elementor-type="wp-page" data-elementor-id="4735" class="elementor elementor-4735"
                data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-88539ca elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                            data-id="88539ca" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-f09a9ff ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                                        data-id="f09a9ff" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-4be094d gc-no-space elementor-widget elementor-widget-text-editor"
                                                    data-id="4be094d" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            FEATURED ON</div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-f90d162 elementor-arrows-position-outside elementor-widget elementor-widget-image-carousel"
                                                    data-id="f90d162" data-element_type="widget"
                                                    data-settings="{&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;pause_on_interaction&quot;:&quot;no&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:30,&quot;sizes&quot;:[]},&quot;slides_to_show_tablet&quot;:&quot;3&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;direction&quot;:&quot;ltr&quot;}"
                                                    data-widget_type="image-carousel.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image-carousel-wrapper swiper-container"
                                                            dir="ltr">
                                                            <div class="elementor-image-carousel swiper-wrapper">
                                                                <div class="swiper-slide">
                                                                    <figure class="swiper-slide-inner"><img
                                                                            class="swiper-slide-image"
                                                                            src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/chatelaine-logo.png?v=1598865509"
                                                                            alt="chatelaine-logo" /></figure>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <figure class="swiper-slide-inner"><img
                                                                            class="swiper-slide-image"
                                                                            src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/style-at-home-logo.png?v=1598865509"
                                                                            alt="style-at-home-logo" /></figure>
                                                                </div>
                                                                <div class="swiper-slide">
                                                                    <figure class="swiper-slide-inner"><img
                                                                            class="swiper-slide-image"
                                                                            src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/logo-luxe-e1588372830109.png?v=1598865509"
                                                                            alt="logo-luxe" /></figure>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="elementor-swiper-button elementor-swiper-button-prev">
                                                                <i class="eicon-chevron-left" aria-hidden="true"></i>
                                                                <span class="elementor-screen-only">Previous</span>
                                                            </div>
                                                            <div
                                                                class="elementor-swiper-button elementor-swiper-button-next">
                                                                <i class="eicon-chevron-right" aria-hidden="true"></i>
                                                                <span class="elementor-screen-only">Next</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="has_ae_slider elementor-element elementor-element-2acc3d49 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                            data-id="2acc3d49" data-element_type="section"
                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-6e7ba2d3 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                                        data-id="6e7ba2d3" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-613b7a94 elementor-widget elementor-widget-image"
                                                    data-id="613b7a94" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img src="https://www.pravadafloors.com/wp-content/uploads/2020/06/logo-Pravada-Floors-logomark-black-100X100.svg"
                                                                class="attachment-full size-full" alt="" /> </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2839f741 gc-sub-title elementor-widget elementor-widget-text-editor"
                                                    data-id="2839f741" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">SHOP
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-7e41fb84 elementor-widget elementor-widget-text-editor"
                                                    data-id="7e41fb84" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h4>MAKE THEM YOURS!</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2966679a gc-login-btn elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="2966679a" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a href="/find-a-dealer/"
                                                                class="elementor-button-link elementor-button elementor-size-sm"
                                                                role="button">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">FIND A
                                                                        DEALER</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>