<link rel='stylesheet' id='all-collections-inline-css' href="{{ 'all-collections-inline.css' | asset_url }}"
    type='text/css' media='all' />



<div data-elementor-type="wp-page" data-elementor-id="4145" class="elementor elementor-4145"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="has_ae_slider elementor-element elementor-element-325c6ec elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="325c6ec" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-ded76b5 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="ded76b5" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-48c0e4b elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="48c0e4b" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-3b677c1 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="3b677c1" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-49e9fc4 elementor-widget elementor-widget-image"
                                                                data-id="49e9fc4" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/icon-logomark-pravada-30x30-T.png?v=1598352858"
                                                                            class="attachment-full size-full" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-16b68c2 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="16b68c2" data-element_type="column">
                                                    <div class="elementor-column-wrap">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-f97b041 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="f97b041" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-b7cf628 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="b7cf628" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-c36a11e elementor-widget elementor-widget-text-editor"
                                                                data-id="c36a11e" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <p>Our real wood floors are designed with
                                                                            two key points in mind: style + quality.
                                                                            Our inspiration stems from following
                                                                            interior design trends with a European
                                                                            flare. We keep up on these trends, by
                                                                            visiting and participating in industry
                                                                            events all over the world every year, so
                                                                            we can continue to deliver the most
                                                                            beautiful designs, impeccable value and
                                                                            sustainability.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="has_ae_slider elementor-element elementor-element-50114d2 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="50114d2" data-element_type="column">
                                                    <div class="elementor-column-wrap">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% assign i = 1 %}

            {% for collection in collections %}
                {% if collection.title contains 'Collection' %}
                    {% assign j = i %}
                    {% assign z = j | modulo:2 %}
                    {% assign t = i | plus: 1 %}
                    {% assign i = t %}

                    {% if z == 1 %}
                        <section
                            class="has_ae_slider elementor-element elementor-element-b204280 gc- elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                            data-id="b204280" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-3ee44e8 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                                        data-id="3ee44e8" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6f472c9 elementor-widget elementor-widget-image"
                                                    data-id="6f472c9" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="2000" height="1125"
                                                                src={{collection.metafields.Archive_Banner_Image.archive_banner_image}}
                                                                class="attachment-full size-full" alt=""
                                                                srcset=""
                                                                sizes="(max-width: 2000px) 100vw, 2000px" /> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-18398b2 gc-col-text ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                                        data-id="18398b2" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-cd33d94 elementor-widget elementor-widget-image"
                                                    data-id="cd33d94" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <a href={{collection.url}}>
                                                                <img src={{collection.metafields.Logo_for_ProductPage.logo_for_productpage}}
                                                                    class="attachment-full size-full" alt="" /> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-328d114 gc-sub-title elementor-widget elementor-widget-text-editor"
                                                    data-id="328d114" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            {{collection.metafields.Category_Label.category_label}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ea7d8b4 elementor-widget elementor-widget-text-editor"
                                                    data-id="ea7d8b4" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h4>{{ collection.title }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section
                                                    class="has_ae_slider elementor-element elementor-element-e50957c elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                                    data-id="e50957c" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div class="has_ae_slider elementor-element elementor-element-f771b24 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                                data-id="f771b24" data-element_type="column">
                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-cc20b96 elementor-widget elementor-widget-text-editor"
                                                                            data-id="cc20b96" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                                    {{collection.metafields.Italic_Content.italic_content}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div class="elementor-element elementor-element-81d5afb gc-login-btn elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="81d5afb" data-element_type="widget" data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a href={{collection.url}}
                                                                class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">VIEW COLLECTION</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% else %}
                        <section
                            class="has_ae_slider elementor-element elementor-element-3e819b4 gc- elementor-reverse-tablet elementor-reverse-mobile elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                            data-id="3e819b4" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-d39ba6b ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                                        data-id="d39ba6b" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-36ae48a elementor-widget elementor-widget-image"
                                                    data-id="36ae48a" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <a href={{collection.url}}>
                                                                <img src={{collection.metafields.Logo_for_ProductPage.logo_for_productpage}}
                                                                    class="attachment-full size-full" alt="" /> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-678cfac gc-sub-title elementor-widget elementor-widget-text-editor"
                                                    data-id="678cfac" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            {{collection.metafields.Category_Label.category_label}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6a491c7 elementor-widget elementor-widget-text-editor"
                                                    data-id="6a491c7" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h4>{{ collection.title }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <section
                                                    class="has_ae_slider elementor-element elementor-element-d15e0d3 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                                    data-id="d15e0d3" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div class="has_ae_slider elementor-element elementor-element-0f7dffc ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                                data-id="0f7dffc" data-element_type="column">
                                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-79fcc10 elementor-widget elementor-widget-text-editor"
                                                                            data-id="79fcc10" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                                    {{collection.metafields.Italic_Content.italic_content}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div class="elementor-element elementor-element-bc5d6f8 gc-login-btn elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="bc5d6f8" data-element_type="widget" data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a href={{collection.url}}
                                                                class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">VIEW COLLECTION</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-d45f7b8 gc-col-text ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-top-column"
                                        data-id="d45f7b8" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-59289d6 elementor-widget elementor-widget-image"
                                                    data-id="59289d6" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="2000" height="1125"
                                                                src={{collection.metafields.Archive_Banner_Image.archive_banner_image}}
                                                                class="attachment-full size-full" alt=""
                                                                srcset=""
                                                                sizes="(max-width: 2000px) 100vw, 2000px" /> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <section
                class="has_ae_slider elementor-element elementor-element-ec7c977 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="ec7c977" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-7708f5b ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="7708f5b" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-70ba6dd elementor-view-default elementor-widget elementor-widget-icon"
                                        data-id="70ba6dd" data-element_type="widget" data-widget_type="icon.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-icon-wrapper">
                                                <div class="elementor-icon">
                                                    <svg id="logomark" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 100 79.43">
                                                        <path
                                                            d="M100,34.47c-.12.7-.22,1.4-.37,2.09a15.3,15.3,0,0,1-6.82,10.23A15.69,15.69,0,0,1,85.32,49,17,17,0,0,1,76.82,47a1.57,1.57,0,0,0-.6-.16H58.63a.71.71,0,0,0-.53.23q-3.78,5.55-7.52,11.11a.57.57,0,0,0-.07.17h42.4v4.37H91V60.36H58.73V71.13H77.58v2H58.73V88.05H62v2H52.78v-2h3.94V73.14H52.77v-2h3.95V60.35l-.44,0H49.51a.71.71,0,0,0-.66.36c-2.35,3.5-4.75,7-7.06,10.49C40.34,73.38,39,75.69,37.65,78a36,36,0,0,1-7,8.48,17.45,17.45,0,0,1-7.73,4.12l-1,.23h-3a.55.55,0,0,0-.15-.08A12.62,12.62,0,0,1,11,86.51a19,19,0,0,1-5-13.65,13.74,13.74,0,0,1,3.15-8.71,14.31,14.31,0,0,1,7.85-4.63A20.68,20.68,0,0,0,19.42,59a9.85,9.85,0,0,1,3.39-.64h24.8a.66.66,0,0,0,.65-.29q3.66-5.46,7.35-10.9a3.2,3.2,0,0,0,.19-.34H0v-2H8.33V35H7.76L0,35V33a1.26,1.26,0,0,0,.27,0c2.59,0,5.17,0,7.76,0a1.57,1.57,0,0,0,.3,0V13.34l-.34,0H.31a1.67,1.67,0,0,0-.31,0v-2H45.89l1,.23a8.82,8.82,0,0,1,5.89,5.13,15.4,15.4,0,0,1,1.14,9.67,12.81,12.81,0,0,1-1.52,4.18A8.48,8.48,0,0,1,44.58,35H10.35V44.8H56.84a.76.76,0,0,0,.54-.28q5.16-7.59,10.29-15.2c1.5-2.21,2.9-4.51,4.56-6.61,3.28-4.14,7.43-6.71,12.93-6.51a14.8,14.8,0,0,1,7.34,2.07,15.55,15.55,0,0,1,7,10.2c.2.84.32,1.69.47,2.54ZM10.34,33.06h.72q16.73,0,33.45,0a6.54,6.54,0,0,0,6.21-3.67,13.09,13.09,0,0,0,.49-11.22,8.25,8.25,0,0,0-2.52-3.52,7.18,7.18,0,0,0-4.77-1.35q-16.55,0-33.08,0l-.5,0Zm6.14,28.65a.35.35,0,0,0-.14,0,11.22,11.22,0,0,0-7.46,6.6,14.35,14.35,0,0,0-.65,8.57,16.07,16.07,0,0,0,5.64,9.6A9.83,9.83,0,0,0,22,88.67a14.43,14.43,0,0,0,6.36-3,31,31,0,0,0,7.24-8.23c1.56-2.5,3-5.07,4.63-7.54,1.88-2.9,3.86-5.73,5.8-8.59l.6-.92H27l.4.35a6.53,6.53,0,0,1,1.25,8,6.8,6.8,0,0,1-6.32,3.23c-4.49-.08-7-4-6.42-8A19.09,19.09,0,0,1,16.48,61.71ZM74.21,44.79l-.57-.74a7.06,7.06,0,0,1-.48-.73,6.76,6.76,0,0,1,.08-7.58A7.48,7.48,0,0,1,86.33,37.8,6.74,6.74,0,0,1,84.65,45a6.66,6.66,0,0,1-3.21,1.64l.42.14a11.58,11.58,0,0,0,4.76.17,12.06,12.06,0,0,0,9-5.63A15.85,15.85,0,0,0,96.16,25a12.62,12.62,0,0,0-14.71-6.46,14.48,14.48,0,0,0-8.23,6.11c-4.53,6.57-9,13.2-13.42,19.81a1.57,1.57,0,0,0-.14.29Zm4.49,0v0c.66,0,1.34,0,2-.14a4.41,4.41,0,0,0,4-4.7A5.22,5.22,0,0,0,78,34.84a4.77,4.77,0,0,0-4,5,6.56,6.56,0,0,0,2,4,2.37,2.37,0,0,0,2.24.91A1.45,1.45,0,0,1,78.7,44.8ZM21.91,60.92c-.42,0-.85,0-1.27,0a2,2,0,0,0-1.19.38A5.13,5.13,0,0,0,19.59,69a4.91,4.91,0,0,0,5.11.46A4.24,4.24,0,0,0,26.64,63,4.8,4.8,0,0,0,21.91,60.92Z"
                                                            transform="translate(0 -11.35)" /></svg> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-33d1b0d gc-sub-title gc-no-space elementor-widget elementor-widget-text-editor"
                                        data-id="33d1b0d" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">SAVE TIME</div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-596181b elementor-widget elementor-widget-text-editor"
                                        data-id="596181b" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <h4>VIEW ALL PRODUCTS</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-26dd57b gc-login-btn elementor-align-center elementor-widget elementor-widget-button"
                                        data-id="26dd57b" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="https://www.pravadafloors.com/shop/"
                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                    role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">SHOW ALL FLOORS</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>