<div data-elementor-type="footer" data-elementor-id="3128" class="elementor elementor-3128 elementor-location-footer"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="has_ae_slider elementor-element elementor-element-26265c8f elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="26265c8f" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-78bebedc ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                            data-id="78bebedc" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-7aad88b1 elementor-widget elementor-widget-heading"
                                        data-id="7aad88b1" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">EXPLORE OUR
                                                COLLECTIONS</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="has_ae_slider elementor-element elementor-element-70a62c47 gc-logo-slider elementor-section-full_width elementor-section-stretched elementor-section-content-middle elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="70a62c47" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;arrow&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-shape elementor-shape-top" data-negative="false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 10" preserveAspectRatio="none">
                        <path class="elementor-shape-fill" d="M350,10L340,0h20L350,10z" />
                    </svg> </div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <style>
                            #basicSlider {
                                position: relative;
                                padding: 25px 0 15px 0;
                            }

                            #basicSlider .MS-content {
                                white-space: nowrap;
                                overflow: hidden;
                                margin: 0 2%;
                                height: 80px;
                            }

                            #basicSlider .MS-content .item {
                                display: inline-block;
                                width: calc(100% / 7);
                                position: relative;
                                vertical-align: top;
                                overflow: hidden;
                                height: 100%;
                                white-space: normal;
                                line-height: 80px;
                                vertical-align: middle;
                                padding: 0 25px;
                            }

                            @media (max-width: 991px) {
                                #basicSlider .MS-content .item {
                                    width: calc(100% / 5);
                                    padding: 0 15px !important;
                                }
                                #basicSlider .MS-content {
                                    height: 50px !important;
                                }
                                #basicSlider .MS-content .item a {
                                    line-height: 50px !important;
                                }

                                #basicSlider .MS-content .item a img {
                                    height: 45px !important;
                                }
                            }

                            @media (max-width: 767px) {
                                #basicSlider .MS-content .item {
                                    width: calc(100% / 3);
                                    padding: 0 10px !important;
                                }
                            }

                            @media (max-width: 500px) {
                                #basicSlider .MS-content .item {
                                    width: calc(100% / 2);
                                    padding: 0 5px !important;
                                }
                            }

                            #basicSlider .MS-content .item a {
                                line-height: 80px;
                                vertical-align: middle;
                            }

                            #basicSlider .MS-content .item a img {
                                width: 100%;
                                height: 75px;
                            }
                        </style>
                        <div id="basicSlider">
                            <div class="MS-content">
                                {% for collection in collections %}
                                {%- comment %}<locksmith:26b1>{% endcomment -%}
                                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                {%- comment %}</locksmith:26b1>{% endcomment -%}
                                {% if collection.title contains 'Collection' %}
                                    <div class="item">
                                        <a href={{collection.url}} target="_blank">
                                            <img src="{{collection.metafields.Logo_for_ProductPage.logo_for_productpage}}" alt="" />
                                        </a>
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <script type='text/javascript' src="{{ 'multislider.min.js' | asset_url }}" id='multislider-min-js'></script>
                        <script>
                            jQuery('#basicSlider').multislider({
                                interval: 3000,
                                duration: 750
                            });
                        </script>
                    </div>
                </div>
            </section>
            <section
                class="has_ae_slider elementor-element elementor-element-5fec920b elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="5fec920b" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-4901dbed products-col ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="4901dbed" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-3947b296 elementor-widget elementor-widget-heading"
                                        data-id="3947b296" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_1_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-29429574 elementor-nav-menu__align-right elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                        data-id="29429574" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-none">
                                                <ul id="menu-1-29429574" class="elementor-nav-menu sm-vertical">
                                                    {% for link in linklists[section.settings.footer_menu_1].links %}
                                                    {%- comment %}<locksmith:7228>{% endcomment -%}
                                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.footer_menu_1], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                    {%- comment %}</locksmith:7228>{% endcomment -%}
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-5fd49d5d ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="5fd49d5d" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-1599bba8 elementor-widget elementor-widget-heading"
                                        data-id="1599bba8" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_2_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-612e9193 elementor-nav-menu__align-left elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                        data-id="612e9193" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-none">
                                                <ul id="menu-1-612e9193" class="elementor-nav-menu sm-vertical">
                                                    {% for link in linklists[section.settings.footer_menu_2].links %}
                                                    {%- comment %}<locksmith:3c01>{% endcomment -%}
                                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.footer_menu_2], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                    {%- comment %}</locksmith:3c01>{% endcomment -%}
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-488cc1d6 about-col ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="488cc1d6" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-4ef01b34 elementor-widget elementor-widget-heading"
                                        data-id="4ef01b34" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_3_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-14329cd elementor-nav-menu__align-right elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                        data-id="14329cd" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-none">
                                                <ul id="menu-1-14329cd" class="elementor-nav-menu sm-vertical">
                                                    {% for link in linklists[section.settings.footer_menu_3].links %}
                                                    {%- comment %}<locksmith:4777>{% endcomment -%}
                                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.footer_menu_3], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                    {%- comment %}</locksmith:4777>{% endcomment -%}
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-6889c8e ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="6889c8e" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-635ae1e elementor-widget elementor-widget-heading"
                                        data-id="635ae1e" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_4_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3713f3f4 elementor-nav-menu__align-left elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                        data-id="3713f3f4" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-none">
                                                <ul id="menu-1-3713f3f4" class="elementor-nav-menu sm-vertical">
                                                    {% for link in linklists[section.settings.footer_menu_4].links %}
                                                    {%- comment %}<locksmith:b7a9>{% endcomment -%}
                                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.footer_menu_4], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                    {%- comment %}</locksmith:b7a9>{% endcomment -%}
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-750e90e9 design-col ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="750e90e9" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2cbfa7 elementor-widget elementor-widget-heading"
                                        data-id="2cbfa7" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_5_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-53f064ae elementor-nav-menu__align-right elementor-nav-menu--dropdown-none elementor-nav-menu--indicator-classic elementor-widget elementor-widget-nav-menu"
                                        data-id="53f064ae" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;vertical&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-vertical e--pointer-none">
                                                <ul id="menu-1-53f064ae" class="elementor-nav-menu sm-vertical">
                                                    {% for link in linklists[section.settings.footer_menu_5].links %}
                                                    {%- comment %}<locksmith:e68d>{% endcomment -%}
                                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.footer_menu_5], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                    {%- comment %}</locksmith:e68d>{% endcomment -%}
                                                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                                        <a href={{ link.url }} class="elementor-item">{{ link.title | escape }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-3bf27eb4 ae-bg-gallery-type-default elementor-column elementor-col-16 elementor-top-column"
                            data-id="3bf27eb4" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-188ef025 elementor-widget elementor-widget-heading"
                                        data-id="188ef025" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.footer_area_6_title | upcase }}
                                            </h2>
                                        </div>
                                    </div>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-69a7bcfa elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="69a7bcfa" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-61c2da25 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="61c2da25" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-17e58299 elementor-widget elementor-widget-heading"
                                                                data-id="17e58299" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">
                                                                        {{ section.settings.social_text | upcase }}
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-39fdac8c elementor-shape-rounded elementor-widget elementor-widget-social-icons"
                                                                data-id="39fdac8c" data-element_type="widget"
                                                                data-widget_type="social-icons.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-social-icons-wrapper">
                                                                        <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-c8bf637"
                                                                            href={{ section.settings.instagram }}
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Instagram</span>
                                                                            <i class="fab fa-instagram"></i> </a>
                                                                        <a class="elementor-icon elementor-social-icon elementor-social-icon-pinterest elementor-repeater-item-97e019b"
                                                                            href={{ section.settings.pinterest }}
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Pinterest</span>
                                                                            <i class="fab fa-pinterest"></i> </a>
                                                                        <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-030dd3e"
                                                                            href={{ section.settings.facebook }}
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Facebook</span>
                                                                            <i class="fab fa-facebook"></i> </a>
                                                                        <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-30e5770"
                                                                            href={{ section.settings.linkedin }}
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Linkedin</span>
                                                                            <i class="fab fa-linkedin"></i> </a>
                                                                      
                                                                      </div>
                                                                    </div>
                                                          </div>
                                                         <div class="elementor-image">
                                                <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/Logo_Designed-in-Canada_Dec2020_white.svg?v=1607978070"
                                                  width=125px>
                                                            </div>
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="has_ae_slider elementor-element elementor-element-52957eba elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
                data-id="52957eba" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="has_ae_slider elementor-element elementor-element-6daa3577 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                            data-id="6daa3577" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-d2a4eae elementor-widget elementor-widget-image"
                                        data-id="d2a4eae" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img src={{ section.settings.footer_logo | img_url: '300x' }}
                                                    class="attachment-full size-full" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-f9534ed ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                            data-id="f9534ed" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e662ac7 gc-no-space elementor-widget elementor-widget-heading"
                                        data-id="e662ac7" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">STAY AHEAD OF
                                                THE DESIGN CURVE</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-133aef7f elementor-widget elementor-widget-heading"
                                        data-id="133aef7f" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">JOIN OUR
                                                MAILING LIST</h2>
                                        </div>
                                    </div>
                                    <section
                                        class="has_ae_slider elementor-element elementor-element-2d37eaf3 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                                        data-id="2d37eaf3" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="has_ae_slider elementor-element elementor-element-4ed722 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-inner-column"
                                                    data-id="4ed722" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1c0153f elementor-widget elementor-widget-shortcode"
                                                                data-id="1c0153f" data-element_type="widget"
                                                                data-widget_type="shortcode.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-shortcode">
                                                                        <!-- Begin Mailchimp Signup Form -->
                                                                        <link
                                                                            href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
                                                                            rel="stylesheet" type="text/css">
                                                                        <style type="text/css">
                                                                            #mc_embed_signup {
                                                                                background: #fff;
                                                                                clear: left;
                                                                                font: 14px Helvetica, Arial, sans-serif;
                                                                                width: 100%;
                                                                            }

                                                                        </style>
                                                                        <div id="mc_embed_signup">
                                                                            <form
                                                                                action="https://pravadafloors.us12.list-manage.com/subscribe/post?u=1f5bdd3d12384fe5c03cb5106&amp;id=3f3531757b"
                                                                                method="post"
                                                                                id="mc-embedded-subscribe-form"
                                                                                name="mc-embedded-subscribe-form"
                                                                                class="validate" target="_blank"
                                                                                novalidate>
                                                                                <div id="mc_embed_signup_scroll">

                                                                                    <input type="email" value=""
                                                                                        name="EMAIL" class="email"
                                                                                        id="mce-EMAIL"
                                                                                        placeholder="email address"
                                                                                        required>
                                                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                                                    <div style="position: absolute; left: -5000px;"
                                                                                        aria-hidden="true"><input
                                                                                            type="text"
                                                                                            name="b_1f5bdd3d12384fe5c03cb5106_3f3531757b"
                                                                                            tabindex="-1" value="">
                                                                                    </div>
                                                                                    <div class="clear"><input
                                                                                            type="submit"
                                                                                            value="Subscribe"
                                                                                            name="subscribe"
                                                                                            id="mc-embedded-subscribe"
                                                                                            class="button"></div>
                                                                                </div>
                                                                            </form>
                                                                        </div>

                                                                        <!--End mc_embed_signup-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-a60652d elementor-widget elementor-widget-heading"
                                        data-id="a60652d" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                {{ section.settings.copy_text }}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="has_ae_slider elementor-element elementor-element-6fb96de3 ae-bg-gallery-type-default elementor-column elementor-col-33 elementor-top-column"
                            data-id="6fb96de3" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-1175ec6a elementor-widget elementor-widget-heading"
                                        data-id="1175ec6a" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">PRAVADA
                                                FLOORS INC.</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-78d75cb6 elementor-widget elementor-widget-heading"
                                        data-id="78d75cb6" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">HEAD OFFICE |
                                                SHOWROOM</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-71f4ff1e elementor-tablet-align-center elementor-hidden-tablet elementor-hidden-phone elementor-icon-list--layout-inline elementor-widget elementor-widget-icon-list"
                                        data-id="71f4ff1e" data-element_type="widget"
                                        data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="fas fa-location-arrow"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">
                                                        {{ section.settings.address }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8d8ed6a elementor-tablet-align-center elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list"
                                        data-id="8d8ed6a" data-element_type="widget"
                                        data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="far fa-clock"></i> </span>
                                                    <span class="elementor-icon-list-text">{{ section.settings.open_hours }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-385eeac7 elementor-tablet-align-center elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list"
                                        data-id="385eeac7" data-element_type="widget"
                                        data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <a href="tel:18887728232"> <span class="elementor-icon-list-icon">
                                                            <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                                        </span>
                                                        <span class="elementor-icon-list-text">{{ section.settings.phone }}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Mega Footer",
    "settings": [
        {
            "type": "text",
            "id": "footer_area_1_title",
            "label": "Footer Area #1 Title",
            "default": "Pravada"
        },
        {
            "type": "link_list",
            "id": "footer_menu_1",
            "label": "Footer Menu 1"
        },
        {
            "type": "text",
            "id": "footer_area_2_title",
            "label": "Footer Area #2 Title",
            "default": "Evolutionz"
        },
        {
            "type": "link_list",
            "id": "footer_menu_2",
            "label": "Footer Menu 2"
        },
        {
            "type": "text",
            "id": "footer_area_3_title",
            "label": "Footer Area #3 Title",
            "default": "Brand"
        },
        {
            "type": "link_list",
            "id": "footer_menu_3",
            "label": "Footer Menu 3"
        },
        {
            "type": "text",
            "id": "footer_area_4_title",
            "label": "Footer Area #4 Title",
            "default": "Learn"
        },
        {
            "type": "link_list",
            "id": "footer_menu_4",
            "label": "Footer Menu 4"
        },
        {
            "type": "text",
            "id": "footer_area_5_title",
            "label": "Footer Area #5 Title",
            "default": "Design"
        },
        {
            "type": "link_list",
            "id": "footer_menu_5",
            "label": "Footer Menu 5"
        },
        {
            "type": "text",
            "id": "footer_area_6_title",
            "label": "Footer Area #6 Title",
            "default": "Social"
        },
        {
            "type": "text",
            "id": "social_text",
            "label": "Social",
            "default": "Connect + Share"
        },
        {
            "type": "url",
            "id": "instagram",
            "label": "Instagram Link"
        },
        {
            "type": "url",
            "id": "pinterest",
            "label": "Pinterest Link"
        },
        {
            "type": "url",
            "id": "facebook",
            "label": "Facebook Link"
        },
        {
            "type": "url",
            "id": "linkedin",
            "label": "Linkedin Link"
        },
        {
            "type": "image_picker",
            "id": "footer_logo",
            "label": "Footer Logo"
        },
        {
            "type": "text",
            "id": "address",
            "label": "Address",
            "default": "205-19365 22 Avenue <br>Surrey - BC | Canada <br>V3Z-3S6"
        },
        {
            "type": "text",
            "id": "open_hours",
            "label": "Open Hours",
            "default": "8am - 5pm (PDT)"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone Number",
            "default": "1-888-772-8232"
        },
        {
            "type": "text",
            "id": "copy_text",
            "label": "Copy Text",
            "default": " 2020 Pravada Floors Inc."
        }
    ]
}
{% endschema %}