<article> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|,Poppins:400,600|Playfair+Display:400|Raleway:400|Playfair+Display:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.15/css/main-style.css?t=20201214151201"><link rel="stylesheet" href="{{ 'pagefly.27dde641.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-531cb7c5"><div data-pf-type="Layout" class="pf-a1a1531c"><div data-container="false" class="sc-pZopv bjKdkd pf-0d83c50a pf-bg-lazy" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-f213b7f2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f967f213" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1026f6fd"><img src="{{article.metafields.partnerlogo.partner-logo}}" class="sc-qZtVr dLIPjF pf-fb9a21ce" data-element="d1fb9a21-ce40-4ab1-b461-bb97d66ce410" data-pf-type="Image2" draggable="true"></div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-bd142484 pf-bg-lazy" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-fe2e9c41 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-f503ec56" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-90f06835"><img src="{{ article.image | img_url: '500x' }}" class="article-featured-img">

<style>
  .article-featured-img {
	max-width: 500px;
	border-radius: 50%;
	text-align: center;
	width: 80%;
  }
</style></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-sm--hidden pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-054f9c0c" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--5 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-501c7ca7" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-de9a77e2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-30492086">{{article.title}} + PRAVADA</span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-77e2118a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0419af06">{{article.metafields.project-name.project-name}}</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-118a1043"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5b948619">{{article.metafields.projectdescription.project-description}}</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-c5152a21 pf-r pf-r-align--rt pf-r-ew--2 pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f1432991" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-421c8d0c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8350421c">{{article.title}}</span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f76ae468"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8bf4f76a">{{article.metafields.influencerwebsite.influencerwebsite}}</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-e8636cca"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-aec7e863">{{article.metafields.infl-bio.infl-bio}}</span></p><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-219b96f3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4d9d219b">FOLLOW</span></p><i class="sc-pjGMk jrwOpx pf-32cff1f4 fa fa-instagram" data-href="{{article.metafields.instagramprofile.instagramprofile}}" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-6e81baa6 fa fa-pinterest" data-href="{{article.metafields.pinterestprofile.pinterestprofile}}" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-37766e81 fa fa-facebook" data-href="{{article.metafields.facebookprofile.facebookprofile}}" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-f1f43776 fa fa-linkedin" data-href="{{article.metafields.linkedinprofile.linkedinprofile}}" data-target="_self" data-pf-type="Icon"></i></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8ca1c3b4" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-86bd2989">
<div class="article-video">
  <div class="video-featured-image">
	<img src="{{ article.metafields.video-image.video-image }}">
  </div>
  <div class="youtube-video" style="position: relative; padding-bottom: 56.25%;">
	<iframe class="pf-ifr" src="{{article.metafields.video-url.video-url}}?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe>
  </div>
</div>

<style>
  .article-video {
	padding-top: 50px;
  }
</style>
  
{% if {{article.metafields.video-url.video-url}} %}
<style>
  .video-featured-image img {
	display: none;
  }  
  .youtube-video {
	display: block;
  }
</style>
{% else %}
<style>
  .video-featured-image img {
	display: block;
  }
  .youtube-video {
	display: none;
  }
</style>
{% endif %}

</div></div></div></div><div class="sc-qPjXN eYzxUD pf-6d04d734 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e3d7aec9" data-pf-type="Column"><h5 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-17e8e3d7"><i class="sc-pjGMk jrwOpx pf-8970f75a fa fa-map-marker" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f75a17e8">{{article.metafields.projectlocation.projectlocation}}</span></h5><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d73871cf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1108d738">{{article.metafields.projectwriteuptitle.projectwriteuptitle}}</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-5fd06a98"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-162d5fd0">"{{article.metafields.projectwriteup.projectwriteup}}"</span></p></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-1c0eda8c" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(255, 255, 255, 0);"></div><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-db788970 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-8b2f108f" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-974bbd14 pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-8fb9974b" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-928bc415"><link rel="stylesheet" href="{{ 'jcarousel.responsive.css' | asset_url }}" type="text/css" media="all">
<script type="text/javascript" src="{{ 'jquery.jcarousel.min.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'jcarousel.responsive.js' | asset_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel-autoscroll.js" integrity="sha512-RpCZspsevCAqB67FKXBF/Tpn98UT8Olstiwb8I0P9M8923E6XyhXyaatNJcUeAzW9sY3ZPtydsqDQHiQYWLRlQ==" crossorigin="anonymous"></script>

<div class="jcarousel-wrapper">
  <div class="jcarousel">
	<ul>
	  {% assign gallery_images = article.metafields.projectgallery.project-gallery | split: ',' %}
	  {% for gallery_image in gallery_images %}
	  <li><img src="{{gallery_image}}" alt="Image 1"></li>
	  {% endfor %}
	</ul>
  </div>
  <p class="jcarousel-pagination"></p>
</div>

<style>
  .jcarousel-wrapper {
	border: none !important;
	box-shadow: 0 0 #000 !important;
  }
  .jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
	margin: auto;
  }
  
  .relative-project-bg {
	background-image: url("{{article.metafields.featuredproductimage.featuredproductimage}}");
  }
</style>

<script>
jQuery(document).ready(function() {
    jQuery('.jcarousel')
  		.on('jcarousel:create jcarousel:reload', function() {
		  var element = jQuery(this),
		  width = element.innerWidth();

		  // This shows 1 item at a time.
		  // Divide `width` to the number of items you want to display,
		  // eg. `width = width / 3` to display 3 items at a time.
		  element.jcarousel('items').css('width', width + 'px');
		  })
        .jcarousel({
            // Core configuration goes here
	  		center: true,
        })
        .jcarouselAutoscroll({
            interval: 3000,
            target: '+=1',
            autostart: true
        })
    ;
});
</script></div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-5fd2a1a1 relative-project-bg" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-02bd5fd2 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div data-href="{{article.metafields.product-url.product-url}}" data-target="_blank" class="sc-pkUyL fTyjzF pf-bf3302bd" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-950a7b50"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-634f950a">GET THE LOOK</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dc3848bf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3a5adc38">{{article.metafields.Projectflooring.project-flooring}}</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-f04321c2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-60fdf043">{{article.metafields.projectcollection.projectcollection}} collection by Pravada Floors</span></p><a href="{{article.metafields.product-url.product-url}}" target="_blank" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-abbc88cf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f0c8abbc">VIEW</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-6557568d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d9916557 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-da3ed991" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-28df4fe5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-150ad66d">FIND AN AUTHORIZED DEALER NEAR YOU</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4fe587b2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-16041613">Ready For Your Dream Home?</span></h3><a href="/pages/dealer-locator" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-cfd1da3e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1b4228df">DEALER LOCATOR</span></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.15","shopDomain":"pravadafloorsinc.myshopify.com","elementData":{},"pageTitle":"Partnerships post template","pageType":"blog","pageId":"27dde641-5a21-413b-8389-7eb518e3b7c8","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-12-14T23:31:14.428Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.15/core/helper.js?t=20201214151201" defer></script> </article>