<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Raleway:400,500,600|Playfair+Display:400|Playfair+Display:900,700,400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.0/css/main-style.css?t=20210111140106"><link rel="stylesheet" href="{{ 'pagefly.3ec9880e.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_231243612325 == null %}{%- assign collection_231243612325 = collections['pravada-outlet'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["231243612325"] = {{collection_231243612325 | json }};window.__pageflyCollections["{{collection.id}}"] = {{collection | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-51b31b36"><div data-pf-type="Layout" class="pf-4dfd51b3"><div data-container="true" class="sc-pZopv bjKdkd pf-f0ab2d9b" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(0, 0, 0, 0.25);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-f4e3f0ab pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-69e9f4e3" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-2f8969e9"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7efa498b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0430f4d4">{{ collection.title }}</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-498b8071"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-78fa19ad">{{ collection.description }}</span></p></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-4321b66a" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d73d4321 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:10px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1a5ed73d" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-09b51a5e pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--4 pf-r-dg-sm--2 pf-r-dg-xs--1" data-render="productListHelper" data-pf-type="ProductList" style="--pf-s-lg:100px; --pf-s-md:100px; --pf-s-sm:100px; --pf-s-xs:100px;">{% assign defaultProduct = product %}{% paginate collection.products by 50 %}{% for product in collection.products %}{%- comment %}<locksmith:8d48>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:8d48>{% endcomment -%}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-73f909b5"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-5573f909" %}<div class="sc-qPjXN eYzxUD pf-3e5573f9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-bb263e55" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5dc69c81"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-19425dc6">{{product.metafields.MARKETPLACE.promo1}}</span></h3><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-6ba6acee">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE fgFjbt"><div data-href="/products/{{ product.handle }}" data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x234.984', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div class="sc-qXgsJ jozDax pf-da189e62 pf-hide-badge" data-product-id="{{ _product.id }}" data-pf-type="ProductBadge"><script>window.__pagefly_variant_stock = window.__pagefly_variant_stock || {}
				window.__pagefly_product_collections = window.__pagefly_product_collections || {}
				window.__pagefly_product_collections[{{ _product.id }}] = {{ _product.collections | json}};
				{% for variant in _product.variants %}
				window.__pagefly_variant_stock[{{ variant.id }}] = {{ variant.inventory_quantity }}
				{% endfor %}</script>SOLD OUT</div><div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-8f0ada18 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-9e625129">{{ product.title }}</h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-57ce0dec" data-pf-type="Column"><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-e03857ce" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>ORDER NOW</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}<div class="sc-pcwJP hlRElQ pf-cmIpgn" data-selector="pf-09b51a5e" style="--pf-gc-lg:3; --pf-gc-md:4; --pf-gc-sm:2; --pf-gc-xs:1;">{% assign count = paginate.pages %}{% for part in (1..count) %}<a class="{% if paginate.current_page == part %}pf-cmIatv{% endif %}" href="?page={{ forloop.index }}">{{forloop.index}}</a>{% endfor %}</div>{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-fb6330bc" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-0802fb63 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6e5a0802" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dfb078cf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7790dfb0">Popular Engineered Collections</span></h3><div class="sc-pRRIT cPqVsD pf-71df6e5a pf-r-dg pf-r-dg-lg--6 pf-r-dg-md--4 pf-r-dg-sm--4 pf-r-dg-xs--2" data-pf-type="CollectionListing" style="--pf-s-lg:10px; --pf-s-md:10px; --pf-s-sm:10px; --pf-s-xs:10px;">
				{% assign defaultCollection = collection %}
				{% assign cHandles = "artistique,canvas,decor,ferme-chic,haute-couleur,le-soleil" | split: ',' %}
				{% for cHandle in cHandles %}
					{% assign collection = collections[cHandle] %}
				<div><div data-product-id="{{ product.id }}" data-pf-type="CollectionBox" class="sc-qWSGh iSUKoQ pf-4a0f71df"><div data-pf-type="CollectionImage" class="sc-pAMRk jscnWO pf-dc06298e">
					<img srcset="{{ collection.image | img_url: 'master' }}" sizes="auto" alt="{{ collection.image.alt }}">
				</div><h3 data-collection-type="title" data-collection-id="{{ collection.id }}" data-pf-type="CollectionText" class="sc-pjTIO jUwEVe pf-298e4a0f">{{ collection.title }}</h3></div><script>
						window.__pageflyCollections = window.__pageflyCollections || {};
						window.__pageflyCollections["{{collection.id}}"] = {{collection | json}};
					</script></div>
				{% endfor %}
				{% assign collection = defaultCollection %}
				</div></div></div></div><div class="sc-qPjXN eYzxUD pf-6aa4685e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5c6b6aa4" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ab50311a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8921f5df">Popular Laminate & SPC Collections</span></h3><div class="sc-pRRIT cPqVsD pf-10205c6b pf-r-dg pf-r-dg-lg--4 pf-r-dg-md--4 pf-r-dg-sm--4 pf-r-dg-xs--2" data-pf-type="CollectionListing" style="--pf-s-lg:10px; --pf-s-md:10px; --pf-s-sm:10px; --pf-s-xs:10px;">
				{% assign defaultCollection = collection %}
				{% assign cHandles = "pure-touch,designer-series,evolve-series,nauticor" | split: ',' %}
				{% for cHandle in cHandles %}
					{% assign collection = collections[cHandle] %}
				<div><div data-product-id="{{ product.id }}" data-pf-type="CollectionBox" class="sc-qWSGh iSUKoQ pf-311a1020"><div data-pf-type="CollectionImage" class="sc-pAMRk jscnWO pf-f5dfa991">
					<img srcset="{{ collection.image | img_url: 'master' }}" sizes="auto" alt="{{ collection.image.alt }}">
				</div><h3 data-collection-type="title" data-collection-id="{{ collection.id }}" data-pf-type="CollectionText" class="sc-pjTIO jUwEVe pf-a991ab50">{{ collection.title }}</h3></div><script>
						window.__pageflyCollections = window.__pageflyCollections || {};
						window.__pageflyCollections["{{collection.id}}"] = {{collection | json}};
					</script></div>
				{% endfor %}
				{% assign collection = defaultCollection %}
				</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.0","shopDomain":"pravadafloorsinc.myshopify.com","elementData":{"pf-6ba6acee":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage2"},"pf-da189e62":{"applyCondition":true,"collectionSource":"custom","collectionIds":[],"tags":"SOLD OUT\n","_type":"ProductBadge"}},"pageTitle":"Outlet","pageType":"collection","pageId":"3ec9880e-dedc-4622-bc3a-c7627797a007","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-11T22:34:36.345Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.0/core/helper.js?t=20210111140106" defer></script>